In [2]:
import numpy as np
import pandas as pd
import warnings
from catalyst_votingresults import CatalystVotingResults
from catalyst_assessments import CatalystAssessments

# =================
# LOAD DATA
## DIRECTLY FILE_PATH INFO
# =================

# LOAD XLSX DATA FROM ALL FUNDS INTO < pd.ExcelFile >

### ASSESSMENTS

In [ ]:
PATH = "/home/julianabmattos/GitRepositories/CatalystReport/data/datafiles_assessments/"
TYPE = "ASSESSMENTS"
DEFAULT_ASSESSMENTS_FEATS = ['CA','PROPOSAL_TITLE','CA_RATING','QA_STATUS','REASON','QA_CLASS']
FUNDS_FILES = {      
    "f3": PATH+"Community Aggregated - Review of Reviewers v3.xlsx",
    "f4": PATH+"Final_vCA Aggregated - fund4.xlsx",
    "f5": PATH+"vCA Aggregated - Fund 5.xlsx",
    "f6": PATH+"vCA Aggregated - Fund 6.xlsx",
    "f7": PATH+"vCA Aggregated - Fund 7.xlsx",
    "f8": PATH+"vCA Aggregated - Fund 8 (Final MVP candidate).xlsx"
}
dbs_from_xls = {}
for f, file in FUNDS_FILES.items():
    dbs_from_xls[f] = pd.ExcelFile(file)
print('Funds loaded: {}'.format(list(dbs_from_xls.keys())))

### VOTING RESULTS

In [ ]:
# path = "/home/julianabmattos/GitRepositories/CatalystReport/data/datafiles_votingresults/"
# TYPE = "VOTING RESULTS"
# funds = ['f3','f4','f5','f6','f7','f8']
# files = ["Fund3 Voting results.xlsx",
#          "Fund4 Voting results.xlsx",
#          "Fund5 Voting results.xlsx",
#          "Fund6 Voting results.xlsx",
#          "Fund7 Voting results.xlsx",
#          "Fund8 Voting results.xlsx"]
# dbs_from_xls = {}
# for f, file in zip(funds, files):
#     dbs_from_xls[f] = pd.ExcelFile(path+file)
# print('Funds loaded: {}'.format(list(dbs_from_xls.keys())))

## SHEETS NAMES

In [ ]:
sheets = {}
print("Data source: {}".format(TYPE))
print('Sheets by fund:\n')
for f, xls in dbs_from_xls.items():
    sheets[f] = list(dbs_from_xls[f].sheet_names)
    print("{}: {}".format(f, sheets[f]))
    print('#',len(sheets[f]))
    print()

# ========================

In [ ]:
f = 'f4'
xlsx_obj = dbs_from_xls[f]
xlsx_obj.parse(sheet_name='Excluded assessors')

In [ ]:
f = 'f5'
xlsx_obj = dbs_from_xls[f]
xlsx_obj.parse(sheet_name='Community Advisors')

In [ ]:
f = 'f6'
xlsx_obj = dbs_from_xls[f]
xlsx_obj.parse(sheet_name='')

In [ ]:
f = 'f7'
xlsx_obj = dbs_from_xls[f]
xlsx_obj.parse(sheet_name='Veteran Community Advisors')

In [ ]:
f = 'f8'
xlsx_obj = dbs_from_xls[f]
xlsx_obj.parse(sheet_name='')

# ====================
#    CatalystAssessments DEV
# ====================

In [ ]:
DEFAULT_CA_FEATS = ['NUMBER_ASSESSMENTS','STATUS','REASON']

In [ ]:
f = 'f6'
df = CatalystAssessments(f)
df.assessments.info()

In [ ]:
df_assess = df.assessments
display(df_assess.head())

In [ ]:
# Build dataframe from Unique Assessments' CAs and Default Features
df_ca = pd.DataFrame(index=df_assess.CA.unique(), columns=DEFAULT_CA_FEATS)
df_ca.sort_index(inplace=True)

# input NUMBER_ASSESSMENTS
df_ca['NUMBER_ASSESSMENTS'] = df_assess.CA.value_counts()

In [ ]:
# input ca's STATUS
cas = xlsx_obj.parse(sheet_name='Community Advisors')
cas.set_index('assessor', inplace=True)
cas.sort_index(inplace=True)
df_ca['STATUS'] = cas.excluded.map(lambda v: 'Excluded' if v == True else 'Included')

# input ca's status REASON

In [ ]:
# input ca's status REASON
df_ca['REASON'] = 'Included'
exc.set_index('name', inplace=True)
exc.sort_index(inplace=True)
df_ca.loc[exc.index.values,'REASON'] = exc[['By Card', 'By Blanks']].apply(lambda row: row[row == True].index.values, axis='columns').replace({'By Card':'By Card', 'By Blanks':'By Blanks'})

In [ ]:
df_ca

In [ ]:
f = 'f5'
xlsx_obj = dbs_from_xls[f]
cas = xlsx_obj.parse(sheet_name='Community Advisors')
cas.set_index('assessor', inplace=True)
cas.sort_index(inplace=True)

In [ ]:
perc = cas[cas.excluded==True].blankPercentage.str.replace('%','').replace("[.]$",'', regex=True).replace('','0').astype(float)

In [ ]:
perc.min()

In [ ]:
reason

### --------------------------------------------------------------------------------------

In [3]:
f = 'f4'
df = CatalystAssessments(f)
display(df.assessments.info())
display(df.community_advisors)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7141 entries, 0 to 7140
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CA              7141 non-null   object
 1   PROPOSAL_TITLE  7141 non-null   object
 2   CA_RATING       7141 non-null   float64
 3   QA_STATUS       7141 non-null   object
 4   REASON          7141 non-null   object
 5   QA_CLASS        0 non-null      float64
dtypes: float64(2), object(4)
memory usage: 334.9+ KB

None

                NUMBER_ASSESSMENTS    STATUS     REASON
z_assessor_1                   421  Excluded  By Blanks
z_assessor_10                  211  Included   Included
z_assessor_100                  51  Included   Included
z_assessor_101                  78  Included   Included
z_assessor_102                   9  Excluded  By Blanks
...                            ...       ...        ...
z_assessor_95                    4  Excluded  By Blanks
z_assessor_96                   12  Excluded  By Blanks
z_assessor_97                    9  Excluded  By Blanks
z_assessor_98                    3  Included   Included
z_assessor_99                   12  Included   Included

[213 rows x 3 columns]

In [4]:
f = 'f5'
df = CatalystAssessments(f)
display(df.assessments.info())
display(df.community_advisors)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8433 entries, 0 to 8432
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CA              8433 non-null   object
 1   PROPOSAL_TITLE  8433 non-null   object
 2   CA_RATING       8433 non-null   int64
 3   QA_STATUS       8433 non-null   object
 4   REASON          8433 non-null   object
 5   QA_CLASS        0 non-null      float64
dtypes: float64(1), int64(1), object(4)
memory usage: 395.4+ KB

None

                NUMBER_ASSESSMENTS    STATUS REASON
z_assessor_1                     6  Included    NaN
z_assessor_10                  813  Excluded    NaN
z_assessor_100                  15  Included    NaN
z_assessor_101                  21  Included    NaN
z_assessor_102                   6  Included    NaN
...                            ...       ...    ...
z_assessor_95                    9  Included    NaN
z_assessor_96                    6  Excluded    NaN
z_assessor_97                    3  Excluded    NaN
z_assessor_98                   18  Excluded    NaN
z_assessor_99                   29  Included    NaN

[253 rows x 3 columns]

In [5]:
f = 'f6'
df = CatalystAssessments(f)
display(df.assessments.info())
display(df.community_advisors)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CA              5172 non-null   object
 1   PROPOSAL_TITLE  5172 non-null   object
 2   CA_RATING       5172 non-null   float64
 3   QA_STATUS       5172 non-null   object
 4   REASON          5172 non-null   object
 5   QA_CLASS        4118 non-null   object
dtypes: float64(1), object(5)
memory usage: 242.6+ KB

None

                NUMBER_ASSESSMENTS STATUS REASON
z_assessor_101                  11    NaN    NaN
z_assessor_104                   2    NaN    NaN
z_assessor_11                  275    NaN    NaN
z_assessor_113                  28    NaN    NaN
z_assessor_114                  16    NaN    NaN
...                            ...    ...    ...
z_assessor_69                    7    NaN    NaN
z_assessor_78                   24    NaN    NaN
z_assessor_9                    18    NaN    NaN
z_assessor_97                    3    NaN    NaN
z_assessor_99                    8    NaN    NaN

[437 rows x 3 columns]

In [6]:
f = 'f7'
df = CatalystAssessments(f)
display(df.assessments.info())
display(df.community_advisors)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9393 entries, 0 to 9392
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CA              9393 non-null   object
 1   PROPOSAL_TITLE  9393 non-null   object
 2   CA_RATING       9393 non-null   float64
 3   QA_STATUS       9393 non-null   object
 4   REASON          9393 non-null   object
 5   QA_CLASS        9161 non-null   object
dtypes: float64(1), object(5)
memory usage: 440.4+ KB

None

                 NUMBER_ASSESSMENTS STATUS REASON
z_assessor_1000                   2    NaN    NaN
z_assessor_1001                   1    NaN    NaN
z_assessor_1002                   1    NaN    NaN
z_assessor_1003                   2    NaN    NaN
z_assessor_1004                   1    NaN    NaN
...                             ...    ...    ...
z_assessor_995                    1    NaN    NaN
z_assessor_996                    6    NaN    NaN
z_assessor_997                    2    NaN    NaN
z_assessor_998                    1    NaN    NaN
z_assessor_999                    5    NaN    NaN

[559 rows x 3 columns]

In [ ]:
print('QA_STATUS: {}'.format(df.assessments.QA_STATUS.unique()))
print('REASON: {}'.format(df.assessments.REASON.unique()))
print('QA_CLASS: {}'.format(df.assessments.QA_CLASS.unique()))

In [7]:
f = 'f8'
df = CatalystAssessments(f)
display(df.assessments.info())
display(df.community_advisors)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11017 entries, 0 to 11016
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CA              11017 non-null  object
 1   PROPOSAL_TITLE  11017 non-null  object
 2   CA_RATING       11017 non-null  float64
 3   QA_STATUS       11017 non-null  object
 4   REASON          11017 non-null  object
 5   QA_CLASS        11017 non-null  object
dtypes: float64(1), object(5)
memory usage: 516.5+ KB

None

                 NUMBER_ASSESSMENTS STATUS REASON
z_assessor_1003                   8    NaN    NaN
z_assessor_1011                  10    NaN    NaN
z_assessor_1018                  38    NaN    NaN
z_assessor_1025                   6    NaN    NaN
z_assessor_1032                   1    NaN    NaN
...                             ...    ...    ...
z_assessor_983                    3    NaN    NaN
z_assessor_987                    5    NaN    NaN
z_assessor_992                   25    NaN    NaN
z_assessor_998                    6    NaN    NaN
z_assessor_999                    3    NaN    NaN

[704 rows x 3 columns]

In [ ]:
df.assessments.head(3)

In [ ]:
print('QA_STATUS: {}'.format(df.assessments.QA_STATUS.unique()))
print('REASON: {}'.format(df.assessments.REASON.unique()))
print('QA_CLASS: {}'.format(df.assessments.QA_CLASS.unique()))

# ====================
# VOTING RESULTS DEV
# ====================

# VALIDATION DATAFRAME

## RAW VALIDATION DATA

In [ ]:
data_xls = {}
for fund in funds:

    if 'validation' in sheets[f]:
        df_valid = dbs_from_xls[f].parse(sheet_name='validation')
    elif 'Validation' in sheets[f]:
        df_valid = dbs_from_xls[f].parse(sheet_name='Validation')
    else:
        df_valid = None

    print(">> FUND: {}".format(fund))
    print('Challenges/sheets: {}'.format(list(sheets[f])))
    print('#Challenges/sheets: {}'.format(len(list(sheets[f]))))
    print('Validation df:')
    display(df_valid)

## VALIDATION DF SETUP: CATALYST-RESULTS OBJECTS
df format: pd.DataFrames.columns = [challanges, budget]\
**All formatted validation dfs from f3-f8 match the data online**

In [ ]:
VALIDATION_COLS = ['challange', 'budget']
def __default_setup(df:pd.DataFrame) -> pd.DataFrame:
    df.columns = VALIDATION_COLS
    df.dropna(subset=['challange'],inplace=True)
    df.reset_index(drop=True, inplace=True)
    df['budget'] = df['budget'].astype(int)
    return df

### FUND: F3

In [ ]:
fund = 'f3'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = CatalystVotingResults(fund).validation.copy()

# df = df.iloc[:-1].copy()
# func_format = lambda s: s.split('(')[1].split(')')[0] if isinstance(s, str) else s
# df.iloc[:,0] = df.iloc[:,0].map(func_format)
# df = __default_setup(df)

display(df)
df.info()

### FUND: F4

In [ ]:
fund = 'f4'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = CatalystVotingResults(fund).validation.copy()

# func_format = lambda s: s.split('(')[1].split(')')[0] if isinstance(s, str) else s
# df.iloc[9:16,0] = df.iloc[9:16,0].map(func_format)
# df = __default_setup(df)

display(df)
df.info()

### FUND: F5

In [ ]:
fund = 'f5'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = CatalystVotingResults(fund).validation.copy()

# func_format = lambda s: s.split('(')[1].split(')')[0] if isinstance(s, str) else s
# df.iloc[9:18,0] = df.iloc[9:18,0].map(func_format)
# df = __default_setup(df)

display(df)
df.info()

### FUND: F6

In [ ]:
fund = 'f6'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = get_catalyst_data(fund).validation.copy()

# df = df.iloc[:-2].copy()
# df.drop(columns='Fund size:', inplace=True)
# df = __default_setup(df)

display(df)
df.info()

### FUND: F7

In [ ]:
fund = 'f7'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = get_catalyst_data(fund).validation.copy()

# df.drop(columns=['Fund size:','Unnamed: 3'],inplace=True)
# df = __default_setup(df)

display(df)
df.info()

### FUND: F8

In [ ]:
fund = 'f8'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = get_catalyst_data(fund).validation.copy()

# df.drop(columns=['Fund size:'],inplace=True)
# df = __default_setup(df)

display(df)
df.info()

### OVEFRVIEW ON CATALYST-RESULTS OBJS

In [ ]:
cat_obj = {} # to store CatalystData objects
for fund in funds:
    cat_obj[fund] = get_catalyst_data(fund)
    
    print('\nFUND: {}'.format(fund))
    print("#CHALLANGES: {}".format(len(list(cat_obj[fund].data.keys()))))
    print("#CHALLANGES: {}".format(list(cat_obj[fund].data.keys())))
    print("VALIDATION: {}".format(type(cat_obj[fund].validation)))
    print("WITHDRAWALS: {}".format(type(cat_obj[fund].withdrawals)))

# INPUT CHALLANGE NAME & BUDGET:
## Identification of inconsistent Challenge's name between DataFrame-key and Validation
Inconsistent names where inputed to a mapping dictionary

In [ ]:
def check_budget(data):
    print('\n EXTRACTED BUDGETS:')
    for ch in data.data.keys():
        print('>> Challenge: {}'.format(ch))
        try:
            bud = data.validation.loc[data.validation.challenge==ch]['budget'].item()
        except:
            bud = np.nan
        print('budget: ', bud)
                          
    display(data.validation)
    return

### FUND: F3

In [ ]:
fund = 'f3'
data = cat_obj[fund]
print("Data challenges: ", list(data.data.keys()))
print("Validation challenges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

### FUND: F4

In [ ]:
fund = 'f4'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

### FUND: F5

In [ ]:
fund = 'f5'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

### FUND: F6

In [ ]:
fund = 'f6'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

### FUND: F7

In [ ]:
fund = 'f7'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

### FUND: F8

In [ ]:
fund = 'f8'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

# CHALLENGE'S DATA
Information analysis from CatalystData objects

In [ ]:
DEFAULT_COLS = ['Proposal', 'SCORE', 'YES', 'NO', 'Unique Yes', 'Unique No', 'Result','STATUS','REQUESTED $', 'challenge', 'Budget']
CURRENCY_COLS = ['YES', 'NO', 'Result']
def print_ch(fund):
    print("#CHALLANGES: {}".format(len(cat_obj[fund].data.keys())))
    for ch, df in cat_obj[fund].data.items():
        print('\nCHALLANGE: {}'.format(ch))
        print("columns: {}".format(list(df.columns)))
        print("Missing defaults: {}".format(set(DEFAULT_COLS) - set(cat_obj[fund].data[ch].columns)))
def view_currency_cols(fund):
    for ch, df in cat_obj[fund].data.items():
        print('>CHALLENGE: {}'.format(ch))
        display(df[CURRENCY_COLS].head(3))
def print_requested(fund):
    for ch, df in cat_obj[fund].data.items():
        print('>CHALLENGE: {}'.format(ch))
        display(df['REQUESTED $'].head(3))
def display_info(fund):
    for ch, df in cat_obj[fund].data.items():
        print('>CHALLENGE: {}'.format(ch))
        display(df.info())

## ALL CHALLENGES ALL FUNDS...
### Identify necessary features formatting

#### Currency features format

In [ ]:
for fund in funds:
    print('\n >> FUND: {}'.format(fund))
    view_currency_cols(fund)

#### 'REQUESTED \$' FEATURE

In [ ]:
for fund in funds:
    print('\n >> FUND: {}'.format(fund))
    print_requested(fund)

#### Columns vs Missing default-columns

In [ ]:
for fund in funds:
    print('\n >> FUND: {}'.format(fund))
    print_ch(fund)

#### DataFrame.info()

In [ ]:
for fund in funds:
    print('\n >> FUND: {}'.format(fund))
    display_info(fund)

# RESULTS DATAFRAMES

In [ ]:
def display_results():
    for fund in funds:
        print("\n\nFUND: {}".format(fund))
        display(cat_obj[fund].results.head(3))
        print(cat_obj[fund].results.info())
        print('\n>> Unique challenges: {}'.format(list(cat_obj[fund].results.challenge.unique())))
        print('# {}'.format(len(list(cat_obj[fund].results.challenge.unique()))))
display_results()