In [1]:
import numpy as np
import pandas as pd
import warnings
from datasets import get_catalyst_data

# DIRECTLY FILE_PATH INFO

## LOAD XLSX DATA FROM ALL FUNDS INTO < pd.ExcelFile >

In [2]:
path = "/home/julianabmattos/GitRepositories/CatalystReport/data/data_files/"
funds = ['f3','f4','f5','f6','f7','f8']
files = ["Fund3 Voting results.xlsx",
         "Fund4 Voting results.xlsx",
         "Fund5 Voting results.xlsx",
         "Fund6 Voting results.xlsx",
         "Fund7 Voting results.xlsx",
         "Fund8 Voting results.xlsx"]
dbs_from_xls = {}
for f, file in zip(funds, files):
    dbs_from_xls[f] = pd.ExcelFile(path+file)
print('Funds loaded: {}'.format(list(dbs_from_xls.keys())))

Funds loaded: ['f3', 'f4', 'f5', 'f6', 'f7', 'f8']

## SHEETS NAMES: the challenges from each fund

In [3]:
sheets = {}
print('Sheets by fund:\n')
for f, xls in dbs_from_xls.items():
    sheets[f] = list(dbs_from_xls[f].sheet_names)
    print("{}: {}".format(f, sheets[f]))
    print(len(sheets[f]))
    print()

Sheets by fund:

f3: ['DApp creation', 'Developer ecosystem', 'Community choice', 'Validation']
4

f4: ['DApp&Integrations', 'Developer ecosystem', 'Distributed decision making', 'Proposer Outreach', 'Catalyst Value Onboarding', 'Local Community Centers', 'Fund6 Challenge Setting', 'Sponsored by leftovers', 'Validation']
9

f5: ['Developer ecosystem', 'DApp&Integrations', 'Distributed decision making', 'Proposer Outreach', 'Catalyst Value Onboarding', 'Metadata challenge', 'Grow Africa, Grow Cardano wv', 'Scale-UP Cardanos DeFi Ecosyste', 'Fund7 Challenge Setting wv', 'Sponsored by leftovers', 'Validation']
11

f6: ['Developer ecosystem', 'DApps & Integrations', 'Distributed decision making', 'Proposer outreach', 'Catalyst value onboarding', 'Metadata', 'Grow Africa, Grow Cardano', 'Scale-UP Cardano’s DeFi Ecosyst', 'Cardano Emerging Threat Alarm', 'Multilingual resources', 'DeFi and Microlending for Afric', 'DLT Entrepreneurship Toolbox', 'Partnerships for Global Adoptio', 'NFT Business models', 'Atala PRISM DID Mass-Scale Adop', 'Disaster When all is at stake', 'Scale-UP Cardano’s Community Hu', 'Improve and Grow Auditability', 'Fund7 challenge setting', 'Sponsored by leftovers', 'Withdrawals', 'Validation']
22

f7: ['Template', 'A.I. & SingularityNet a $5T mar', 'Accelerate Decentralized Identi', 'Boosting Cardanos DeFi', 'Catalyst - Rapid Funding Mechan', 'Catalyst Accelerator & Mentors', 'Catalyst Natives COTI Pay with ', 'Community Events', 'Connecting Japan日本 Community', 'DAOs ❤ Cardano', 'DApps & Integrations', 'Disarm cyber disinformation att', 'Gamers On-Chained', 'Global Sustainable Indep. SPOs', 'Grow Latin America, Grow Cardan', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'MiniLow-Budget Dapps & Integrat', 'Miscellaneous Challenge', 'Multilingual resources', 'Nation Building Dapps', 'New SPO Business Opportunities', 'Open Source Developer Ecosystem', 'Scale-UP Cardanos Community Hub', 'Seeding Cardanos Grassroots DeF', 'Fund8 challenge setting', 'Withdrawals', 'Sponsored by leftovers', 'Validation']
29

f8: ['Template', 'Accelerate Decentralized Identi', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives un', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosyst', 'Open Standards & Interoperabili', 'Scale-UP Cardanos Community Hub', 'Self-Sovereign Identity', 'The Great Migration (from Ether', 'Fund9 challenge setting', 'Funded by leftovers', 'Validation']
26

# VALIDATION DATAFRAME

## RAW VALIDATION DATA

In [4]:
data_xls = {}
for fund in funds:

    if 'validation' in sheets[f]:
        df_valid = dbs_from_xls[f].parse(sheet_name='validation')
    elif 'Validation' in sheets[f]:
        df_valid = dbs_from_xls[f].parse(sheet_name='Validation')
    else:
        df_valid = None

    print(">> FUND: {}".format(fund))
    print('Challenges/sheets: {}'.format(list(sheets[f])))
    print('#Challenges/sheets: {}'.format(len(list(sheets[f]))))
    print('Validation df:')
    display(df_valid)

>> FUND: f3
Challenges/sheets: ['Template', 'Accelerate Decentralized Identi', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives un', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosyst', 'Open Standards & Interoperabili', 'Scale-UP Cardanos Community Hub', 'Self-Sovereign Identity', 'The Great Migration (from Ether', 'Fund9 challenge setting', 'Funded by leftovers', 'Validation']
#Challenges/sheets: 26
Validation df:

                Fund size:                           Unnamed: 1    Unnamed: 2
0                      NaN    Accelerate Decentralized Identity  5.000000e+05
1                      NaN       Business Solutions (B2B & B2C)  1.000000e+06
2                      NaN            Cardano scaling solutions  1.000000e+06
3                      NaN       Community Advisor Improvements  1.000000e+05
4                      NaN            Cross-Chain Collaboration  4.000000e+05
5                      NaN               DApps and Integrations  2.500000e+06
6                      NaN                  Developer Ecosystem  1.000000e+06
7                      NaN  Film + Media (FAM) creatives unite!  1.500000e+05
8                      NaN                  Gamers On - Chained  5.000000e+05
9                      NaN            Grow Africa, Grow Cardano  2.500000e+05
10                     NaN         Grow East Asia, Grow Cardano  1.500000e+05
11                     NaN             Grow India, Grow Cardano  1.500000e+05
12                     NaN        Improve and Grow Auditability  2.000000e+05
13                     NaN   Lobbying for favorable legislation  3.000000e+05
14                     NaN              Miscellaneous Challenge  5.000000e+05
15                     NaN                Nation Building Dapps  8.000000e+05
16                     NaN                New Member Onboarding  2.000000e+05
17                     NaN    Open Source Development Ecosystem  1.200000e+06
18                     NaN    Open Standards & Interoperability  5.000000e+05
19                     NaN    Scale-UP Cardano's Community Hubs  5.000000e+05
20                     NaN              Self-Sovereign Identity  4.000000e+05
21                     NaN  The Great Migration (from Ethereum)  5.000000e+05
22                     NaN              Fund9 challenge setting  1.280000e+07
23                     NaN                                  NaN           NaN
24  Total registered stake                                  NaN  3.680777e+09
25                     1%=                                  NaN  3.680777e+07
26                     NaN                                  NaN           NaN
27               Leftovers                                  NaN           NaN
28                     NaN                 Sum of the leftovers  2.628700e+05

>> FUND: f4
Challenges/sheets: ['Template', 'Accelerate Decentralized Identi', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives un', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosyst', 'Open Standards & Interoperabili', 'Scale-UP Cardanos Community Hub', 'Self-Sovereign Identity', 'The Great Migration (from Ether', 'Fund9 challenge setting', 'Funded by leftovers', 'Validation']
#Challenges/sheets: 26
Validation df:

                Fund size:                           Unnamed: 1    Unnamed: 2
0                      NaN    Accelerate Decentralized Identity  5.000000e+05
1                      NaN       Business Solutions (B2B & B2C)  1.000000e+06
2                      NaN            Cardano scaling solutions  1.000000e+06
3                      NaN       Community Advisor Improvements  1.000000e+05
4                      NaN            Cross-Chain Collaboration  4.000000e+05
5                      NaN               DApps and Integrations  2.500000e+06
6                      NaN                  Developer Ecosystem  1.000000e+06
7                      NaN  Film + Media (FAM) creatives unite!  1.500000e+05
8                      NaN                  Gamers On - Chained  5.000000e+05
9                      NaN            Grow Africa, Grow Cardano  2.500000e+05
10                     NaN         Grow East Asia, Grow Cardano  1.500000e+05
11                     NaN             Grow India, Grow Cardano  1.500000e+05
12                     NaN        Improve and Grow Auditability  2.000000e+05
13                     NaN   Lobbying for favorable legislation  3.000000e+05
14                     NaN              Miscellaneous Challenge  5.000000e+05
15                     NaN                Nation Building Dapps  8.000000e+05
16                     NaN                New Member Onboarding  2.000000e+05
17                     NaN    Open Source Development Ecosystem  1.200000e+06
18                     NaN    Open Standards & Interoperability  5.000000e+05
19                     NaN    Scale-UP Cardano's Community Hubs  5.000000e+05
20                     NaN              Self-Sovereign Identity  4.000000e+05
21                     NaN  The Great Migration (from Ethereum)  5.000000e+05
22                     NaN              Fund9 challenge setting  1.280000e+07
23                     NaN                                  NaN           NaN
24  Total registered stake                                  NaN  3.680777e+09
25                     1%=                                  NaN  3.680777e+07
26                     NaN                                  NaN           NaN
27               Leftovers                                  NaN           NaN
28                     NaN                 Sum of the leftovers  2.628700e+05

>> FUND: f5
Challenges/sheets: ['Template', 'Accelerate Decentralized Identi', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives un', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosyst', 'Open Standards & Interoperabili', 'Scale-UP Cardanos Community Hub', 'Self-Sovereign Identity', 'The Great Migration (from Ether', 'Fund9 challenge setting', 'Funded by leftovers', 'Validation']
#Challenges/sheets: 26
Validation df:

                Fund size:                           Unnamed: 1    Unnamed: 2
0                      NaN    Accelerate Decentralized Identity  5.000000e+05
1                      NaN       Business Solutions (B2B & B2C)  1.000000e+06
2                      NaN            Cardano scaling solutions  1.000000e+06
3                      NaN       Community Advisor Improvements  1.000000e+05
4                      NaN            Cross-Chain Collaboration  4.000000e+05
5                      NaN               DApps and Integrations  2.500000e+06
6                      NaN                  Developer Ecosystem  1.000000e+06
7                      NaN  Film + Media (FAM) creatives unite!  1.500000e+05
8                      NaN                  Gamers On - Chained  5.000000e+05
9                      NaN            Grow Africa, Grow Cardano  2.500000e+05
10                     NaN         Grow East Asia, Grow Cardano  1.500000e+05
11                     NaN             Grow India, Grow Cardano  1.500000e+05
12                     NaN        Improve and Grow Auditability  2.000000e+05
13                     NaN   Lobbying for favorable legislation  3.000000e+05
14                     NaN              Miscellaneous Challenge  5.000000e+05
15                     NaN                Nation Building Dapps  8.000000e+05
16                     NaN                New Member Onboarding  2.000000e+05
17                     NaN    Open Source Development Ecosystem  1.200000e+06
18                     NaN    Open Standards & Interoperability  5.000000e+05
19                     NaN    Scale-UP Cardano's Community Hubs  5.000000e+05
20                     NaN              Self-Sovereign Identity  4.000000e+05
21                     NaN  The Great Migration (from Ethereum)  5.000000e+05
22                     NaN              Fund9 challenge setting  1.280000e+07
23                     NaN                                  NaN           NaN
24  Total registered stake                                  NaN  3.680777e+09
25                     1%=                                  NaN  3.680777e+07
26                     NaN                                  NaN           NaN
27               Leftovers                                  NaN           NaN
28                     NaN                 Sum of the leftovers  2.628700e+05

>> FUND: f6
Challenges/sheets: ['Template', 'Accelerate Decentralized Identi', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives un', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosyst', 'Open Standards & Interoperabili', 'Scale-UP Cardanos Community Hub', 'Self-Sovereign Identity', 'The Great Migration (from Ether', 'Fund9 challenge setting', 'Funded by leftovers', 'Validation']
#Challenges/sheets: 26
Validation df:

                Fund size:                           Unnamed: 1    Unnamed: 2
0                      NaN    Accelerate Decentralized Identity  5.000000e+05
1                      NaN       Business Solutions (B2B & B2C)  1.000000e+06
2                      NaN            Cardano scaling solutions  1.000000e+06
3                      NaN       Community Advisor Improvements  1.000000e+05
4                      NaN            Cross-Chain Collaboration  4.000000e+05
5                      NaN               DApps and Integrations  2.500000e+06
6                      NaN                  Developer Ecosystem  1.000000e+06
7                      NaN  Film + Media (FAM) creatives unite!  1.500000e+05
8                      NaN                  Gamers On - Chained  5.000000e+05
9                      NaN            Grow Africa, Grow Cardano  2.500000e+05
10                     NaN         Grow East Asia, Grow Cardano  1.500000e+05
11                     NaN             Grow India, Grow Cardano  1.500000e+05
12                     NaN        Improve and Grow Auditability  2.000000e+05
13                     NaN   Lobbying for favorable legislation  3.000000e+05
14                     NaN              Miscellaneous Challenge  5.000000e+05
15                     NaN                Nation Building Dapps  8.000000e+05
16                     NaN                New Member Onboarding  2.000000e+05
17                     NaN    Open Source Development Ecosystem  1.200000e+06
18                     NaN    Open Standards & Interoperability  5.000000e+05
19                     NaN    Scale-UP Cardano's Community Hubs  5.000000e+05
20                     NaN              Self-Sovereign Identity  4.000000e+05
21                     NaN  The Great Migration (from Ethereum)  5.000000e+05
22                     NaN              Fund9 challenge setting  1.280000e+07
23                     NaN                                  NaN           NaN
24  Total registered stake                                  NaN  3.680777e+09
25                     1%=                                  NaN  3.680777e+07
26                     NaN                                  NaN           NaN
27               Leftovers                                  NaN           NaN
28                     NaN                 Sum of the leftovers  2.628700e+05

>> FUND: f7
Challenges/sheets: ['Template', 'Accelerate Decentralized Identi', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives un', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosyst', 'Open Standards & Interoperabili', 'Scale-UP Cardanos Community Hub', 'Self-Sovereign Identity', 'The Great Migration (from Ether', 'Fund9 challenge setting', 'Funded by leftovers', 'Validation']
#Challenges/sheets: 26
Validation df:

                Fund size:                           Unnamed: 1    Unnamed: 2
0                      NaN    Accelerate Decentralized Identity  5.000000e+05
1                      NaN       Business Solutions (B2B & B2C)  1.000000e+06
2                      NaN            Cardano scaling solutions  1.000000e+06
3                      NaN       Community Advisor Improvements  1.000000e+05
4                      NaN            Cross-Chain Collaboration  4.000000e+05
5                      NaN               DApps and Integrations  2.500000e+06
6                      NaN                  Developer Ecosystem  1.000000e+06
7                      NaN  Film + Media (FAM) creatives unite!  1.500000e+05
8                      NaN                  Gamers On - Chained  5.000000e+05
9                      NaN            Grow Africa, Grow Cardano  2.500000e+05
10                     NaN         Grow East Asia, Grow Cardano  1.500000e+05
11                     NaN             Grow India, Grow Cardano  1.500000e+05
12                     NaN        Improve and Grow Auditability  2.000000e+05
13                     NaN   Lobbying for favorable legislation  3.000000e+05
14                     NaN              Miscellaneous Challenge  5.000000e+05
15                     NaN                Nation Building Dapps  8.000000e+05
16                     NaN                New Member Onboarding  2.000000e+05
17                     NaN    Open Source Development Ecosystem  1.200000e+06
18                     NaN    Open Standards & Interoperability  5.000000e+05
19                     NaN    Scale-UP Cardano's Community Hubs  5.000000e+05
20                     NaN              Self-Sovereign Identity  4.000000e+05
21                     NaN  The Great Migration (from Ethereum)  5.000000e+05
22                     NaN              Fund9 challenge setting  1.280000e+07
23                     NaN                                  NaN           NaN
24  Total registered stake                                  NaN  3.680777e+09
25                     1%=                                  NaN  3.680777e+07
26                     NaN                                  NaN           NaN
27               Leftovers                                  NaN           NaN
28                     NaN                 Sum of the leftovers  2.628700e+05

>> FUND: f8
Challenges/sheets: ['Template', 'Accelerate Decentralized Identi', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives un', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosyst', 'Open Standards & Interoperabili', 'Scale-UP Cardanos Community Hub', 'Self-Sovereign Identity', 'The Great Migration (from Ether', 'Fund9 challenge setting', 'Funded by leftovers', 'Validation']
#Challenges/sheets: 26
Validation df:

                Fund size:                           Unnamed: 1    Unnamed: 2
0                      NaN    Accelerate Decentralized Identity  5.000000e+05
1                      NaN       Business Solutions (B2B & B2C)  1.000000e+06
2                      NaN            Cardano scaling solutions  1.000000e+06
3                      NaN       Community Advisor Improvements  1.000000e+05
4                      NaN            Cross-Chain Collaboration  4.000000e+05
5                      NaN               DApps and Integrations  2.500000e+06
6                      NaN                  Developer Ecosystem  1.000000e+06
7                      NaN  Film + Media (FAM) creatives unite!  1.500000e+05
8                      NaN                  Gamers On - Chained  5.000000e+05
9                      NaN            Grow Africa, Grow Cardano  2.500000e+05
10                     NaN         Grow East Asia, Grow Cardano  1.500000e+05
11                     NaN             Grow India, Grow Cardano  1.500000e+05
12                     NaN        Improve and Grow Auditability  2.000000e+05
13                     NaN   Lobbying for favorable legislation  3.000000e+05
14                     NaN              Miscellaneous Challenge  5.000000e+05
15                     NaN                Nation Building Dapps  8.000000e+05
16                     NaN                New Member Onboarding  2.000000e+05
17                     NaN    Open Source Development Ecosystem  1.200000e+06
18                     NaN    Open Standards & Interoperability  5.000000e+05
19                     NaN    Scale-UP Cardano's Community Hubs  5.000000e+05
20                     NaN              Self-Sovereign Identity  4.000000e+05
21                     NaN  The Great Migration (from Ethereum)  5.000000e+05
22                     NaN              Fund9 challenge setting  1.280000e+07
23                     NaN                                  NaN           NaN
24  Total registered stake                                  NaN  3.680777e+09
25                     1%=                                  NaN  3.680777e+07
26                     NaN                                  NaN           NaN
27               Leftovers                                  NaN           NaN
28                     NaN                 Sum of the leftovers  2.628700e+05

## VALIDATION DF SETUP: CATALYST-RESULTS OBJECTS
df format: pd.DataFrames.columns = [challanges, budget]\
**All formatted validation dfs from f3-f8 match the data online**

In [5]:
VALIDATION_COLS = ['challange', 'budget']
def __default_setup(df:pd.DataFrame) -> pd.DataFrame:
    df.columns = VALIDATION_COLS
    df.dropna(subset=['challange'],inplace=True)
    df.reset_index(drop=True, inplace=True)
    df['budget'] = df['budget'].astype(int)
    return df

### FUND: F3

In [6]:
fund = 'f3'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = get_catalyst_data(fund).validation.copy()

# df = df.iloc[:-1].copy()
# func_format = lambda s: s.split('(')[1].split(')')[0] if isinstance(s, str) else s
# df.iloc[:,0] = df.iloc[:,0].map(func_format)
# df = __default_setup(df)

display(df)
df.info()

#Raw Challenges/sheets (validation/withdraws included): 4

             challenge  budget
0        DApp creation  200000
1  Developer ecosystem  200000
2     Community choice  500000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   challenge  3 non-null      object
 1   budget     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

### FUND: F4

In [7]:
fund = 'f4'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = get_catalyst_data(fund).validation.copy()

# func_format = lambda s: s.split('(')[1].split(')')[0] if isinstance(s, str) else s
# df.iloc[9:16,0] = df.iloc[9:16,0].map(func_format)
# df = __default_setup(df)

display(df)
df.info()

#Raw Challenges/sheets (validation/withdraws included): 9

                           challenge  budget
0                DApps&Integrations   200000
1                Developer ecosystem  400000
2        Distributed Decision Making   50000
3                  Proposer Outreach   50000
4          Catalyst Value Onboarding   50000
5            Local Community Centers   50000
6            Fund6 Challenge Setting  400000
7  Leftovers from regular challenges   42821

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   challenge  8 non-null      object
 1   budget     8 non-null      int64
dtypes: int64(1), object(1)
memory usage: 256.0+ bytes

### FUND: F5

In [8]:
fund = 'f5'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = get_catalyst_data(fund).validation.copy()

# func_format = lambda s: s.split('(')[1].split(')')[0] if isinstance(s, str) else s
# df.iloc[9:18,0] = df.iloc[9:18,0].map(func_format)
# df = __default_setup(df)

display(df)
df.info()

#Raw Challenges/sheets (validation/withdraws included): 11

                           challenge  budget
0                DApps&Integrations   250000
1                Developer ecosystem  600000
2        Distributed Decision Making  100000
3                  Proposer Outreach  100000
4          Catalyst Value Onboarding  100000
5                 Metadata challenge   50000
6          Grow Africa, Grow Cardano  250000
7  Scale-UP Cardano's DeFi Ecosystem  250000
8            Fund7 Challenge Setting  800000
9  Leftovers from regular challenges   92476

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   challenge  10 non-null     object
 1   budget     10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

### FUND: F6

In [9]:
fund = 'f6'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = get_catalyst_data(fund).validation.copy()

# df = df.iloc[:-2].copy()
# df.drop(columns='Fund size:', inplace=True)
# df = __default_setup(df)

display(df)
df.info()

#Raw Challenges/sheets (validation/withdraws included): 22

                              challenge   budget
0                   Developer ecosystem  1005000
1                  DApps & Integrations   250000
2           Distributed decision making    75000
3                     Proposer outreach   100000
4             Catalyst value onboarding    75000
5                    Metadata challenge   100000
6             Grow Africa, Grow Cardano   250000
7     Scale-UP Cardano's DeFi Ecosystem   250000
8         Cardano Emerging Threat Alarm    50000
9                Multilingual resources    75000
10     DeFi and Microlending for Africa    90000
11         DLT Entrepreneurship Toolbox   150000
12     Partnerships for Global Adoption    30000
13                  NFT Business models   200000
14  Atala PRISM DID Mass-Scale Adoption   250000
15       Disaster: When all is at stake   150000
16    Scale-UP Cardano’s Community Hubs   100000
17        Improve and Grow Auditability   100000
18              Fund7 Challenge Setting  5475000
19    Leftovers from regular challenges   131820

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   challenge  20 non-null     object
 1   budget     20 non-null     int64
dtypes: int64(1), object(1)
memory usage: 448.0+ bytes

### FUND: F7

In [10]:
fund = 'f7'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = get_catalyst_data(fund).validation.copy()

# df.drop(columns=['Fund size:','Unnamed: 3'],inplace=True)
# df = __default_setup(df)

display(df)
df.info()

#Raw Challenges/sheets (validation/withdraws included): 29

/home/julianabmattos/GitRepositories/CatalystReport/data/datasets.py:396: UserWarning: < f7-Accelerate Decentralized Identi > Budget not found. Please, make sure the challenge name from Catalyst.data matches the challenge names in Catalyst.validation.
  warnings.warn(WAR_BUDGET_NOT_FOUND.format(data.fund, challenge))

                                      challenge    budget
0   Catalyst Natives COTI: Pay with ADA Plug-in    100000
1                       Boosting Cardano's DeFi    500000
2                              Community Events    200000
3            Lobbying for favorable legislation     75000
4           Catalyst - Rapid Funding Mechanisms    250000
5                               DAOs <3 Cardano    500000
6                 Connecting Japan/日本 Community     50000
7           Disarm cyber disinformation attacks    100000
8                          DApps & Integrations    250000
9                             Gamers On-Chained    250000
10             Grow Latin America, Grow Cardano    500000
11            Seeding Cardano's Grassroots DeFi    200000
12            Scale-UP Cardano's Community Hubs    350000
13               New SPO Business Opportunities    250000
14              Global Sustainable Indep. SPO's    100000
15           A.I. & SingularityNet a $5T market    500000
16                      Miscellaneous Challenge    200000
17                        Nation Building Dapps    600000
18          Mini/Low-Budget Dapps &Integrations    200000
19              Open Source Developer Ecosystem    200000
20                       Multilingual resources    100000
21                Improve and Grow Auditability    100000
22                                  Atala PRISM    425000
23               Catalyst Accelerator & Mentors    500000
24                      Fund8 Challenge Setting  12800000
25                         Sum of the leftovers    147668

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   challenge  26 non-null     object
 1   budget     26 non-null     int64
dtypes: int64(1), object(1)
memory usage: 544.0+ bytes

### FUND: F8

In [11]:
fund = 'f8'
print('#Raw Challenges/sheets (validation/withdraws included): {}\n'.format(len(list(sheets[fund]))))
df = get_catalyst_data(fund).validation.copy()

# df.drop(columns=['Fund size:'],inplace=True)
# df = __default_setup(df)

display(df)
df.info()

#Raw Challenges/sheets (validation/withdraws included): 26

                              challenge    budget
0     Accelerate Decentralized Identity    500000
1        Business Solutions (B2B & B2C)   1000000
2             Cardano scaling solutions   1000000
3        Community Advisor Improvements    100000
4             Cross-Chain Collaboration    400000
5                DApps and Integrations   2500000
6                   Developer Ecosystem   1000000
7   Film + Media (FAM) creatives unite!    150000
8                   Gamers On - Chained    500000
9             Grow Africa, Grow Cardano    250000
10         Grow East Asia, Grow Cardano    150000
11             Grow India, Grow Cardano    150000
12        Improve and Grow Auditability    200000
13   Lobbying for favorable legislation    300000
14              Miscellaneous Challenge    500000
15                Nation Building Dapps    800000
16                New Member Onboarding    200000
17    Open Source Development Ecosystem   1200000
18    Open Standards & Interoperability    500000
19    Scale-UP Cardano's Community Hubs    500000
20              Self-Sovereign Identity    400000
21  The Great Migration (from Ethereum)    500000
22              Fund9 challenge setting  12800000
23                 Sum of the leftovers    262870

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   challenge  24 non-null     object
 1   budget     24 non-null     int64
dtypes: int64(1), object(1)
memory usage: 512.0+ bytes

### OVEFRVIEW ON CATALYST-RESULTS OBJS

In [12]:
cat_obj = {} # to store CatalystData objects
for fund in funds:
    cat_obj[fund] = get_catalyst_data(fund)
    
    print('\nFUND: {}'.format(fund))
    print("#CHALLANGES: {}".format(len(list(cat_obj[fund].data.keys()))))
    print("#CHALLANGES: {}".format(list(cat_obj[fund].data.keys())))
    print("VALIDATION: {}".format(type(cat_obj[fund].validation)))
    print("WITHDRAWALS: {}".format(type(cat_obj[fund].withdrawals)))

FUND: f3
#CHALLANGES: 3
#CHALLANGES: ['DApp creation', 'Developer ecosystem', 'Community choice']
VALIDATION: <class 'pandas.core.frame.DataFrame'>
WITHDRAWALS: <class 'NoneType'>

FUND: f4
#CHALLANGES: 8
#CHALLANGES: ['DApp&Integrations', 'Developer ecosystem', 'Distributed decision making', 'Proposer Outreach', 'Catalyst Value Onboarding', 'Local Community Centers', 'Fund6 Challenge Setting', 'Sponsored by leftovers']
VALIDATION: <class 'pandas.core.frame.DataFrame'>
WITHDRAWALS: <class 'NoneType'>

FUND: f5
#CHALLANGES: 10
#CHALLANGES: ['Developer ecosystem', 'DApp&Integrations', 'Distributed decision making', 'Proposer Outreach', 'Catalyst Value Onboarding', 'Metadata challenge', 'Grow Africa, Grow Cardano wv', 'Scale-UP Cardanos DeFi Ecosyste', 'Fund7 Challenge Setting wv', 'Sponsored by leftovers']
VALIDATION: <class 'pandas.core.frame.DataFrame'>
WITHDRAWALS: <class 'NoneType'>

FUND: f6
#CHALLANGES: 20
#CHALLANGES: ['Developer ecosystem', 'DApps & Integrations', 'Distributed decision making', 'Proposer outreach', 'Catalyst value onboarding', 'Metadata', 'Grow Africa, Grow Cardano', 'Scale-UP Cardano’s DeFi Ecosyst', 'Cardano Emerging Threat Alarm', 'Multilingual resources', 'DeFi and Microlending for Afric', 'DLT Entrepreneurship Toolbox', 'Partnerships for Global Adoptio', 'NFT Business models', 'Atala PRISM DID Mass-Scale Adop', 'Disaster When all is at stake', 'Scale-UP Cardano’s Community Hu', 'Improve and Grow Auditability', 'Fund7 challenge setting', 'Sponsored by leftovers']
VALIDATION: <class 'pandas.core.frame.DataFrame'>
WITHDRAWALS: <class 'pandas.core.frame.DataFrame'>

/home/julianabmattos/GitRepositories/CatalystReport/data/datasets.py:396: UserWarning: < f7-Accelerate Decentralized Identi > Budget not found. Please, make sure the challenge name from Catalyst.data matches the challenge names in Catalyst.validation.
  warnings.warn(WAR_BUDGET_NOT_FOUND.format(data.fund, challenge))

FUND: f7
#CHALLANGES: 26
#CHALLANGES: ['A.I. & SingularityNet a $5T mar', 'Accelerate Decentralized Identi', 'Boosting Cardanos DeFi', 'Catalyst - Rapid Funding Mechan', 'Catalyst Accelerator & Mentors', 'Catalyst Natives COTI Pay with ', 'Community Events', 'Connecting Japan日本 Community', 'DAOs ❤ Cardano', 'DApps & Integrations', 'Disarm cyber disinformation att', 'Gamers On-Chained', 'Global Sustainable Indep. SPOs', 'Grow Latin America, Grow Cardan', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'MiniLow-Budget Dapps & Integrat', 'Miscellaneous Challenge', 'Multilingual resources', 'Nation Building Dapps', 'New SPO Business Opportunities', 'Open Source Developer Ecosystem', 'Scale-UP Cardanos Community Hub', 'Seeding Cardanos Grassroots DeF', 'Fund8 challenge setting', 'Sponsored by leftovers']
VALIDATION: <class 'pandas.core.frame.DataFrame'>
WITHDRAWALS: <class 'pandas.core.frame.DataFrame'>

FUND: f8
#CHALLANGES: 24
#CHALLANGES: ['Accelerate Decentralized Identi', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives un', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosyst', 'Open Standards & Interoperabili', 'Scale-UP Cardanos Community Hub', 'Self-Sovereign Identity', 'The Great Migration (from Ether', 'Fund9 challenge setting', 'Funded by leftovers']
VALIDATION: <class 'pandas.core.frame.DataFrame'>
WITHDRAWALS: <class 'NoneType'>

# INPUT CHALLANGE NAME & BUDGET

In [13]:
WAR_BUDGET_NOT_FOUND = '< {}-{} > Budget not found. Please, make sure the challange name from Catalyst.data matches the challange names in Catalyst.validation.'
def check_budget(data):
    print('\n EXTRACTED BUDGETS:')
    for ch in data.data.keys():
        message = WAR_BUDGET_NOT_FOUND.format(data.fund, ch)
        print('>> Challange: {}'.format(ch))
        try:
            bud = data.validation.loc[data.validation.challange==ch]['budget'].item()
        except:
            bud = np.nan
        print('budget: ', bud)
                          
    display(data.validation)
    return

### FUND: F3

In [14]:
fund = 'f3'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

Data challanges:  ['DApp creation', 'Developer ecosystem', 'Community choice']
Validation challanges: ['DApp creation', 'Developer ecosystem', 'Community choice']

 EXTRACTED BUDGETS:
>> Challange: DApp creation
budget:  nan
>> Challange: Developer ecosystem
budget:  nan
>> Challange: Community choice
budget:  nan

             challenge  budget
0        DApp creation  200000
1  Developer ecosystem  200000
2     Community choice  500000

### FUND: F4

In [15]:
fund = 'f4'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

Data challanges:  ['DApp&Integrations', 'Developer ecosystem', 'Distributed decision making', 'Proposer Outreach', 'Catalyst Value Onboarding', 'Local Community Centers', 'Fund6 Challenge Setting', 'Sponsored by leftovers']
Validation challanges: ['DApps&Integrations ', 'Developer ecosystem', 'Distributed Decision Making', 'Proposer Outreach', 'Catalyst Value Onboarding', 'Local Community Centers', 'Fund6 Challenge Setting', 'Leftovers from regular challenges']

 EXTRACTED BUDGETS:
>> Challange: DApp&Integrations
budget:  nan
>> Challange: Developer ecosystem
budget:  nan
>> Challange: Distributed decision making
budget:  nan
>> Challange: Proposer Outreach
budget:  nan
>> Challange: Catalyst Value Onboarding
budget:  nan
>> Challange: Local Community Centers
budget:  nan
>> Challange: Fund6 Challenge Setting
budget:  nan
>> Challange: Sponsored by leftovers
budget:  nan

                           challenge  budget
0                DApps&Integrations   200000
1                Developer ecosystem  400000
2        Distributed Decision Making   50000
3                  Proposer Outreach   50000
4          Catalyst Value Onboarding   50000
5            Local Community Centers   50000
6            Fund6 Challenge Setting  400000
7  Leftovers from regular challenges   42821

### FUND: F5

In [16]:
fund = 'f5'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

Data challanges:  ['Developer ecosystem', 'DApp&Integrations', 'Distributed decision making', 'Proposer Outreach', 'Catalyst Value Onboarding', 'Metadata challenge', 'Grow Africa, Grow Cardano wv', 'Scale-UP Cardanos DeFi Ecosyste', 'Fund7 Challenge Setting wv', 'Sponsored by leftovers']
Validation challanges: ['DApps&Integrations ', 'Developer ecosystem', 'Distributed Decision Making', 'Proposer Outreach', 'Catalyst Value Onboarding', 'Metadata challenge', 'Grow Africa, Grow Cardano', "Scale-UP Cardano's DeFi Ecosystem", 'Fund7 Challenge Setting', 'Leftovers from regular challenges']

 EXTRACTED BUDGETS:
>> Challange: Developer ecosystem
budget:  nan
>> Challange: DApp&Integrations
budget:  nan
>> Challange: Distributed decision making
budget:  nan
>> Challange: Proposer Outreach
budget:  nan
>> Challange: Catalyst Value Onboarding
budget:  nan
>> Challange: Metadata challenge
budget:  nan
>> Challange: Grow Africa, Grow Cardano wv
budget:  nan
>> Challange: Scale-UP Cardanos DeFi Ecosyste
budget:  nan
>> Challange: Fund7 Challenge Setting wv
budget:  nan
>> Challange: Sponsored by leftovers
budget:  nan

                           challenge  budget
0                DApps&Integrations   250000
1                Developer ecosystem  600000
2        Distributed Decision Making  100000
3                  Proposer Outreach  100000
4          Catalyst Value Onboarding  100000
5                 Metadata challenge   50000
6          Grow Africa, Grow Cardano  250000
7  Scale-UP Cardano's DeFi Ecosystem  250000
8            Fund7 Challenge Setting  800000
9  Leftovers from regular challenges   92476

### FUND: F6

In [17]:
fund = 'f6'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

Data challanges:  ['Developer ecosystem', 'DApps & Integrations', 'Distributed decision making', 'Proposer outreach', 'Catalyst value onboarding', 'Metadata', 'Grow Africa, Grow Cardano', 'Scale-UP Cardano’s DeFi Ecosyst', 'Cardano Emerging Threat Alarm', 'Multilingual resources', 'DeFi and Microlending for Afric', 'DLT Entrepreneurship Toolbox', 'Partnerships for Global Adoptio', 'NFT Business models', 'Atala PRISM DID Mass-Scale Adop', 'Disaster When all is at stake', 'Scale-UP Cardano’s Community Hu', 'Improve and Grow Auditability', 'Fund7 challenge setting', 'Sponsored by leftovers']
Validation challanges: ['Developer ecosystem', 'DApps & Integrations', 'Distributed decision making', 'Proposer outreach', 'Catalyst value onboarding', 'Metadata challenge', 'Grow Africa, Grow Cardano', "Scale-UP Cardano's DeFi Ecosystem", 'Cardano Emerging Threat Alarm', 'Multilingual resources', 'DeFi and Microlending for Africa', 'DLT Entrepreneurship Toolbox', 'Partnerships for Global Adoption', 'NFT Business models', 'Atala PRISM DID Mass-Scale Adoption', 'Disaster: When all is at stake', 'Scale-UP Cardano’s Community Hubs', 'Improve and Grow Auditability', 'Fund7 Challenge Setting', 'Leftovers from regular challenges']

 EXTRACTED BUDGETS:
>> Challange: Developer ecosystem
budget:  nan
>> Challange: DApps & Integrations
budget:  nan
>> Challange: Distributed decision making
budget:  nan
>> Challange: Proposer outreach
budget:  nan
>> Challange: Catalyst value onboarding
budget:  nan
>> Challange: Metadata
budget:  nan
>> Challange: Grow Africa, Grow Cardano
budget:  nan
>> Challange: Scale-UP Cardano’s DeFi Ecosyst
budget:  nan
>> Challange: Cardano Emerging Threat Alarm
budget:  nan
>> Challange: Multilingual resources
budget:  nan
>> Challange: DeFi and Microlending for Afric
budget:  nan
>> Challange: DLT Entrepreneurship Toolbox
budget:  nan
>> Challange: Partnerships for Global Adoptio
budget:  nan
>> Challange: NFT Business models
budget:  nan
>> Challange: Atala PRISM DID Mass-Scale Adop
budget:  nan
>> Challange: Disaster When all is at stake
budget:  nan
>> Challange: Scale-UP Cardano’s Community Hu
budget:  nan
>> Challange: Improve and Grow Auditability
budget:  nan
>> Challange: Fund7 challenge setting
budget:  nan
>> Challange: Sponsored by leftovers
budget:  nan

                              challenge   budget
0                   Developer ecosystem  1005000
1                  DApps & Integrations   250000
2           Distributed decision making    75000
3                     Proposer outreach   100000
4             Catalyst value onboarding    75000
5                    Metadata challenge   100000
6             Grow Africa, Grow Cardano   250000
7     Scale-UP Cardano's DeFi Ecosystem   250000
8         Cardano Emerging Threat Alarm    50000
9                Multilingual resources    75000
10     DeFi and Microlending for Africa    90000
11         DLT Entrepreneurship Toolbox   150000
12     Partnerships for Global Adoption    30000
13                  NFT Business models   200000
14  Atala PRISM DID Mass-Scale Adoption   250000
15       Disaster: When all is at stake   150000
16    Scale-UP Cardano’s Community Hubs   100000
17        Improve and Grow Auditability   100000
18              Fund7 Challenge Setting  5475000
19    Leftovers from regular challenges   131820

### FUND: F7

In [18]:
fund = 'f7'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

Data challanges:  ['A.I. & SingularityNet a $5T mar', 'Accelerate Decentralized Identi', 'Boosting Cardanos DeFi', 'Catalyst - Rapid Funding Mechan', 'Catalyst Accelerator & Mentors', 'Catalyst Natives COTI Pay with ', 'Community Events', 'Connecting Japan日本 Community', 'DAOs ❤ Cardano', 'DApps & Integrations', 'Disarm cyber disinformation att', 'Gamers On-Chained', 'Global Sustainable Indep. SPOs', 'Grow Latin America, Grow Cardan', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'MiniLow-Budget Dapps & Integrat', 'Miscellaneous Challenge', 'Multilingual resources', 'Nation Building Dapps', 'New SPO Business Opportunities', 'Open Source Developer Ecosystem', 'Scale-UP Cardanos Community Hub', 'Seeding Cardanos Grassroots DeF', 'Fund8 challenge setting', 'Sponsored by leftovers']
Validation challanges: ['Catalyst Natives COTI: Pay with ADA Plug-in', "Boosting Cardano's DeFi", 'Community Events', 'Lobbying for favorable legislation', 'Catalyst - Rapid Funding Mechanisms', 'DAOs <3 Cardano', 'Connecting Japan/日本 Community', 'Disarm cyber disinformation attacks', 'DApps & Integrations', 'Gamers On-Chained', 'Grow Latin America, Grow Cardano', "Seeding Cardano's Grassroots DeFi", "Scale-UP Cardano's Community Hubs", 'New SPO Business Opportunities', "Global Sustainable Indep. SPO's", 'A.I. & SingularityNet a $5T market', 'Miscellaneous Challenge', 'Nation Building Dapps', 'Mini/Low-Budget Dapps &Integrations', 'Open Source Developer Ecosystem', 'Multilingual resources', 'Improve and Grow Auditability', 'Atala PRISM', 'Catalyst Accelerator & Mentors', 'Fund8 Challenge Setting', 'Sum of the leftovers']

 EXTRACTED BUDGETS:
>> Challange: A.I. & SingularityNet a $5T mar
budget:  nan
>> Challange: Accelerate Decentralized Identi
budget:  nan
>> Challange: Boosting Cardanos DeFi
budget:  nan
>> Challange: Catalyst - Rapid Funding Mechan
budget:  nan
>> Challange: Catalyst Accelerator & Mentors
budget:  nan
>> Challange: Catalyst Natives COTI Pay with
budget:  nan
>> Challange: Community Events
budget:  nan
>> Challange: Connecting Japan日本 Community
budget:  nan
>> Challange: DAOs ❤ Cardano
budget:  nan
>> Challange: DApps & Integrations
budget:  nan
>> Challange: Disarm cyber disinformation att
budget:  nan
>> Challange: Gamers On-Chained
budget:  nan
>> Challange: Global Sustainable Indep. SPOs
budget:  nan
>> Challange: Grow Latin America, Grow Cardan
budget:  nan
>> Challange: Improve and Grow Auditability
budget:  nan
>> Challange: Lobbying for favorable legislat
budget:  nan
>> Challange: MiniLow-Budget Dapps & Integrat
budget:  nan
>> Challange: Miscellaneous Challenge
budget:  nan
>> Challange: Multilingual resources
budget:  nan
>> Challange: Nation Building Dapps
budget:  nan
>> Challange: New SPO Business Opportunities
budget:  nan
>> Challange: Open Source Developer Ecosystem
budget:  nan
>> Challange: Scale-UP Cardanos Community Hub
budget:  nan
>> Challange: Seeding Cardanos Grassroots DeF
budget:  nan
>> Challange: Fund8 challenge setting
budget:  nan
>> Challange: Sponsored by leftovers
budget:  nan

                                      challenge    budget
0   Catalyst Natives COTI: Pay with ADA Plug-in    100000
1                       Boosting Cardano's DeFi    500000
2                              Community Events    200000
3            Lobbying for favorable legislation     75000
4           Catalyst - Rapid Funding Mechanisms    250000
5                               DAOs <3 Cardano    500000
6                 Connecting Japan/日本 Community     50000
7           Disarm cyber disinformation attacks    100000
8                          DApps & Integrations    250000
9                             Gamers On-Chained    250000
10             Grow Latin America, Grow Cardano    500000
11            Seeding Cardano's Grassroots DeFi    200000
12            Scale-UP Cardano's Community Hubs    350000
13               New SPO Business Opportunities    250000
14              Global Sustainable Indep. SPO's    100000
15           A.I. & SingularityNet a $5T market    500000
16                      Miscellaneous Challenge    200000
17                        Nation Building Dapps    600000
18          Mini/Low-Budget Dapps &Integrations    200000
19              Open Source Developer Ecosystem    200000
20                       Multilingual resources    100000
21                Improve and Grow Auditability    100000
22                                  Atala PRISM    425000
23               Catalyst Accelerator & Mentors    500000
24                      Fund8 Challenge Setting  12800000
25                         Sum of the leftovers    147668

### FUND: F8

In [19]:
fund = 'f8'
data = cat_obj[fund]
print("Data challanges: ", list(data.data.keys()))
print("Validation challanges: {}".format(list(data.validation.challenge.values)))

check_budget(data)

Data challanges:  ['Accelerate Decentralized Identi', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives un', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosyst', 'Open Standards & Interoperabili', 'Scale-UP Cardanos Community Hub', 'Self-Sovereign Identity', 'The Great Migration (from Ether', 'Fund9 challenge setting', 'Funded by leftovers']
Validation challanges: ['Accelerate Decentralized Identity', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives unite!', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislation', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosystem', 'Open Standards & Interoperability', "Scale-UP Cardano's Community Hubs", 'Self-Sovereign Identity', 'The Great Migration (from Ethereum)', 'Fund9 challenge setting', 'Sum of the leftovers']

 EXTRACTED BUDGETS:
>> Challange: Accelerate Decentralized Identi
budget:  nan
>> Challange: Business Solutions (B2B & B2C)
budget:  nan
>> Challange: Cardano scaling solutions
budget:  nan
>> Challange: Community Advisor Improvements
budget:  nan
>> Challange: Cross-Chain Collaboration
budget:  nan
>> Challange: DApps and Integrations
budget:  nan
>> Challange: Developer Ecosystem
budget:  nan
>> Challange: Film + Media (FAM) creatives un
budget:  nan
>> Challange: Gamers On - Chained
budget:  nan
>> Challange: Grow Africa, Grow Cardano
budget:  nan
>> Challange: Grow East Asia, Grow Cardano
budget:  nan
>> Challange: Grow India, Grow Cardano
budget:  nan
>> Challange: Improve and Grow Auditability
budget:  nan
>> Challange: Lobbying for favorable legislat
budget:  nan
>> Challange: Miscellaneous Challenge
budget:  nan
>> Challange: Nation Building Dapps
budget:  nan
>> Challange: New Member Onboarding
budget:  nan
>> Challange: Open Source Development Ecosyst
budget:  nan
>> Challange: Open Standards & Interoperabili
budget:  nan
>> Challange: Scale-UP Cardanos Community Hub
budget:  nan
>> Challange: Self-Sovereign Identity
budget:  nan
>> Challange: The Great Migration (from Ether
budget:  nan
>> Challange: Fund9 challenge setting
budget:  nan
>> Challange: Funded by leftovers
budget:  nan

                              challenge    budget
0     Accelerate Decentralized Identity    500000
1        Business Solutions (B2B & B2C)   1000000
2             Cardano scaling solutions   1000000
3        Community Advisor Improvements    100000
4             Cross-Chain Collaboration    400000
5                DApps and Integrations   2500000
6                   Developer Ecosystem   1000000
7   Film + Media (FAM) creatives unite!    150000
8                   Gamers On - Chained    500000
9             Grow Africa, Grow Cardano    250000
10         Grow East Asia, Grow Cardano    150000
11             Grow India, Grow Cardano    150000
12        Improve and Grow Auditability    200000
13   Lobbying for favorable legislation    300000
14              Miscellaneous Challenge    500000
15                Nation Building Dapps    800000
16                New Member Onboarding    200000
17    Open Source Development Ecosystem   1200000
18    Open Standards & Interoperability    500000
19    Scale-UP Cardano's Community Hubs    500000
20              Self-Sovereign Identity    400000
21  The Great Migration (from Ethereum)    500000
22              Fund9 challenge setting  12800000
23                 Sum of the leftovers    262870

# CHALLENGES DATA

In [20]:
DEFAULT_COLS = ['Proposal', 'SCORE', 'YES', 'NO', 'Unique Yes', 'Unique No', 'Result','STATUS','REQUESTED $', 'challenge', 'Budget']
CURRENCY_COLS = ['YES', 'NO', 'Result']
def print_ch(fund):
    print("#CHALLANGES: {}".format(len(cat_obj[fund].data.keys())))
    for ch, df in cat_obj[fund].data.items():
        print('\nCHALLANGE: {}'.format(ch))
        print("columns: {}".format(list(df.columns)))
        print("Missing defaults: {}".format(set(DEFAULT_COLS) - set(cat_obj[fund].data[ch].columns)))
def view_currency_cols(fund):
    for ch, df in cat_obj[fund].data.items():
        print('>CHALLENGE: {}'.format(ch))
        display(df[CURRENCY_COLS].head(3))
def print_requested(fund):
    for ch, df in cat_obj[fund].data.items():
        print('>CHALLENGE: {}'.format(ch))
        display(df['REQUESTED $'].head(3))
def display_info(fund):
    for ch, df in cat_obj[fund].data.items():
        print('>CHALLENGE: {}'.format(ch))
        display(df.info())

### ALL CHALLENGES ALL FUNDS...

#### Currency features format

In [21]:
for fund in funds:
    print('\n >> FUND: {}'.format(fund))
    view_currency_cols(fund)

 >> FUND: f3
>CHALLENGE: DApp creation

          YES        NO      Result
0  1600000000  18217050  1581782950
1   787000000  58830495   728169505
2   693000000  45804734   647195266

>CHALLENGE: Developer ecosystem

          YES        NO      Result
0  1070000000  15388494  1054611506
1   780000000  25468676   754531324
2   671000000  14840477   656159523

>CHALLENGE: Community choice

         YES        NO     Result
0  975000000  26330673  948669327
1  898000000  23989035  874010965
2  254000000  24396735  229603265

 >> FUND: f4
>CHALLENGE: DApp&Integrations

         YES         NO     Result
0  987682507   42852579  944829928
1  374916832   55806397  319110435
2  285715266  118436548  167278718

>CHALLENGE: Developer ecosystem

         YES        NO     Result
0  791925475  28307858  763617617
1  308621052  17282218  291338834
2  353741041  67603548  286137493

>CHALLENGE: Distributed decision making

         YES        NO     Result
0  467363599  21061664  446301935
1  211391984  33629042  177762942
2  233212549  59687255  173525294

>CHALLENGE: Proposer Outreach

         YES        NO     Result
0  400728608  11653573  389075035
1  163715610  65490271   98225339
2   96709154  57469788   39239366

>CHALLENGE: Catalyst Value Onboarding

         YES        NO     Result
0  397649907  82363970  315285937
1  313456402  37106872  276349530
2  229427814  34741985  194685829

>CHALLENGE: Local Community Centers

         YES        NO     Result
0  533685657  38039282  495646375
1  311926508  38086420  273840088
2  268988757  45424389  223564368

>CHALLENGE: Fund6 Challenge Setting

         YES        NO     Result
0  511582779  39772480  471810299
1  287176342  43696669  243479673
2  260773139  36491346  224281793

>CHALLENGE: Sponsored by leftovers

         YES        NO     Result
0  188066218  45029164  143037054
1  148022787  33211875  114810912
2  116652008  37159851   79492157

 >> FUND: f5
>CHALLENGE: Developer ecosystem

         YES        NO     Result
0  885478111  27844494  857633617
1  554450995  21710291  532740704
2  563268896  53313915  509954981

>CHALLENGE: DApp&Integrations

         YES        NO     Result
0  704022068   8764146  695257922
1  373429314  79438059  293991255
2  287179598  29475468  257704130

>CHALLENGE: Distributed decision making

         YES         NO     Result
0  489465534  106265880  383199654
1  311866031   28629829  283236202
2  230917971   33129087  197788884

>CHALLENGE: Proposer Outreach

         YES        NO     Result
0  275381641  28431504  246950137
1  236285784  11278454  225007330
2  273953500  50666980  223286520

>CHALLENGE: Catalyst Value Onboarding

         YES        NO     Result
0  272146268  11296285  260849983
1  268040054  13050549  254989505
2  151719186  47420541  104298645

>CHALLENGE: Metadata challenge

         YES        NO     Result
0  407117855  38955531  368162324
1  267998071   9986248  258011823
2  250852558  13791667  237060891

>CHALLENGE: Grow Africa, Grow Cardano wv

         YES        NO     Result
0  454279506  42220158  412059348
1  376406272  27273510  349132762
2  331169585  18006980  313162605

>CHALLENGE: Scale-UP Cardanos DeFi Ecosyste

         YES        NO     Result
0  895585207  26280460  869304747
1  657090083  16017585  641072498
2  334447581  42629804  291817777

>CHALLENGE: Fund7 Challenge Setting wv

         YES        NO     Result
0  463914437  37723098  426191339
1  320277896  10643743  309634153
2  199589217  61474530  138114687

>CHALLENGE: Sponsored by leftovers

         YES        NO     Result
0  329781898  54620240  275161658
1  257763109  22796071  234967038
2  231318668  40353386  190965282

 >> FUND: f6
>CHALLENGE: Developer ecosystem

         YES        NO     Result
0  637293223  28405633  608887590
1  407234809  19995040  387239769
2  401288824  47664488  353624336

>CHALLENGE: DApps & Integrations

         YES        NO     Result
0  382987353  28429877  354557476
1  332271809  44545139  287726670
2  281473108  41286803  240186305

>CHALLENGE: Distributed decision making

         YES        NO     Result
0  298931842  13495655  285436187
1  256327819   5831569  250496250
2  217868902   8408434  209460468

>CHALLENGE: Proposer outreach

         YES        NO     Result
0  271712743  25151976  246560767
1  264073555  18186363  245887192
2  235195525  16676082  218519443

>CHALLENGE: Catalyst value onboarding

         YES        NO     Result
0  201393105  14743374  186649731
1  204928733  28614581  176314152
2  151709899  11022548  140687351

>CHALLENGE: Metadata

         YES        NO     Result
0  283006713   8266381  274740332
1  244821792  23270468  221551324
2  184777788  23134560  161643228

>CHALLENGE: Grow Africa, Grow Cardano

         YES        NO     Result
0  292964661   6377156  286587505
1  251873182  15486056  236387126
2  238519206   6232925  232286281

>CHALLENGE: Scale-UP Cardano’s DeFi Ecosyst

         YES        NO     Result
0  392129925   4979460  387150465
1  231871934   9984896  221887038
2  183395488  22032291  161363197

>CHALLENGE: Cardano Emerging Threat Alarm

         YES        NO     Result
0  273566710  21010883  252555827
1  128182897  31021581   97161316
2  106347743  18970363   87377380

>CHALLENGE: Multilingual resources

         YES        NO     Result
0  266985678   2169246  264816432
1  274792987  18877068  255915919
2  110961510   1835346  109126164

>CHALLENGE: DeFi and Microlending for Afric

         YES        NO     Result
0  247481882  13252472  234229410
1  169168925  18644659  150524266
2  106469590  23602266   82867324

>CHALLENGE: DLT Entrepreneurship Toolbox

         YES        NO     Result
0  168004956  15137126  152867830
1  124983762  10282112  114701650
2  120711276  14271212  106440064

>CHALLENGE: Partnerships for Global Adoptio

         YES        NO     Result
0  195643642  12932054  182711588
1   88488669  15898405   72590264
2   72608893  14856488   57752405

>CHALLENGE: NFT Business models

         YES        NO     Result
0  195025365  21508626  173516739
1  134449893  18847575  115602318
2   90946166   8930647   82015519

>CHALLENGE: Atala PRISM DID Mass-Scale Adop

         YES        NO     Result
0  323598220  10509935  313088285
1  240595564  30027431  210568133
2  151705785   8414392  143291393

>CHALLENGE: Disaster When all is at stake

         YES        NO     Result
0  189628003  26994115  162633888
1  106954064   4139263  102814801
2  128864182  28327050  100537132

>CHALLENGE: Scale-UP Cardano’s Community Hu

         YES        NO     Result
0  288806839   2164195  286642644
1  207263336  23171770  184091566
2  183734088   6183944  177550144

>CHALLENGE: Improve and Grow Auditability

         YES        NO     Result
0  233257880  13482379  219775501
1  167522607  15076774  152445833
2  142344333  18471802  123872531

>CHALLENGE: Fund7 challenge setting

         YES        NO     Result
0  296534143   9997192  286536951
1  229549584  23356721  206192863
2  189050459   9680327  179370132

>CHALLENGE: Sponsored by leftovers

         YES        NO     Result
0  169837524  10355331  159482193
1  156340326  37090381  119249945
2  169264840  55606987  113657853

 >> FUND: f7
>CHALLENGE: A.I. & SingularityNet a $5T mar

         YES       NO     Result
0  199732782  1123600  198609182
1   98489203  5323561   93165642
2   84237620  3344431   80893189

>CHALLENGE: Accelerate Decentralized Identi

         YES       NO     Result
0  158968316  2019465  156948851
1  151340860  1786085  149554775
2  149407057  6941619  142465438

>CHALLENGE: Boosting Cardanos DeFi

         YES       NO     Result
0  446066509  8167903  437898606
1  312524109  4979911  307544198
2  291551864  1528877  290022987

>CHALLENGE: Catalyst - Rapid Funding Mechan

         YES       NO     Result
0  166264297  8886446  157377851
1  110614167  6090730  104523437
2   97381525  8799809   88581716

>CHALLENGE: Catalyst Accelerator & Mentors

         YES       NO     Result
0  129927613  1643204  128284409
1  126584368  1520140  125064228
2  101519177  5006372   96512805

>CHALLENGE: Catalyst Natives COTI Pay with

         YES       NO     Result
0  389857112  6758503  383098609
1  310794095  1900286  308893809
2  151601115  5656028  145945087

>CHALLENGE: Community Events

         YES       NO     Result
0  190599175  3268219  187330956
1  174765398  3082804  171682594
2  124217289  2056258  122161031

>CHALLENGE: Connecting Japan日本 Community

         YES       NO     Result
0  230219228  5092460  225126768
1  183378045  7613714  175764331
2  163461241  3043568  160417673

>CHALLENGE: DAOs ❤ Cardano

         YES       NO     Result
0  220657053  2080890  218576163
1  208245435  2824133  205421302
2  151536528  1305407  150231121

>CHALLENGE: DApps & Integrations

         YES       NO     Result
0  229711277  6106817  223604460
1  192932440  4443349  188489091
2  167266392  4282581  162983811

>CHALLENGE: Disarm cyber disinformation att

         YES        NO     Result
0  251099486   2208982  248890504
1  160751531   3714248  157037283
2  142915932  11429946  131485986

>CHALLENGE: Gamers On-Chained

         YES       NO     Result
0  182708553  2669545  180039008
1  155971118  4885876  151085242
2  148875069  5262389  143612680

>CHALLENGE: Global Sustainable Indep. SPOs

         YES       NO     Result
0  110823223  2204682  108618541
1   88733270  7195835   81537435
2   84538499  5352764   79185735

>CHALLENGE: Grow Latin America, Grow Cardan

         YES       NO     Result
0  162412637  1679736  160732901
1  126729658   986384  125743274
2  121516925  4002087  117514838

>CHALLENGE: Improve and Grow Auditability

         YES       NO     Result
0  123247980  1769307  121478673
1  106897295  1457504  105439791
2   89440334  1188175   88252159

>CHALLENGE: Lobbying for favorable legislat

         YES        NO     Result
0  242837633   4324222  238513411
1  185973774   7022171  178951603
2  190430875  12904681  177526194

>CHALLENGE: MiniLow-Budget Dapps & Integrat

         YES        NO    Result
0  109466101  12370938  97095163
1   94980369   2070922  92909447
2   87684778   3025214  84659564

>CHALLENGE: Miscellaneous Challenge

         YES        NO     Result
0  110392950   6341007  104051943
1  104219796   4769078   99450718
2  112760382  13980804   98779578

>CHALLENGE: Multilingual resources

         YES       NO     Result
0  116913654  1364103  115549551
1  110151578  2568509  107583069
2  104962574  2662333  102300241

>CHALLENGE: Nation Building Dapps

         YES        NO     Result
0  174963621   5798185  169165436
1  179605121  15430995  164174126
2  163935684   4395870  159539814

>CHALLENGE: New SPO Business Opportunities

         YES        NO     Result
0  162107576   8788906  153318670
1  103162233   8190697   94971536
2  107774849  17473912   90300937

>CHALLENGE: Open Source Developer Ecosystem

         YES        NO     Result
0  216467733   8867505  207600228
1  177658020  22593115  155064905
2  160386994   9793632  150593362

>CHALLENGE: Scale-UP Cardanos Community Hub

         YES       NO     Result
0  211089963  3656788  207433175
1  166625150  4849345  161775805
2  152083302  3719740  148363562

>CHALLENGE: Seeding Cardanos Grassroots DeF

         YES       NO     Result
0  194175663  2596764  191578899
1  168758501  2456039  166302462
2  113784230  3750169  110034061

>CHALLENGE: Fund8 challenge setting

         YES        NO     Result
0  222760136   4041667  218718469
1  174132281   6229949  167902332
2  168796638  14071590  154725048

>CHALLENGE: Sponsored by leftovers

         YES       NO     Result
0  160386994  9793632  150593362
1  141788746  5284717  136504029
2  131157592  5409131  125748461

 >> FUND: f8
>CHALLENGE: Accelerate Decentralized Identi

         YES       NO     Result
0  148830926   562903  148268023
1  132934798  1985422  130949376
2  125276050   981839  124294211

>CHALLENGE: Business Solutions (B2B & B2C)

         YES       NO     Result
0  232855092  7677576  225177516
1  137726985  8585321  129141664
2  115979322  6412601  109566721

>CHALLENGE: Cardano scaling solutions

         YES        NO     Result
0  179286999  16702549  162584450
1  169484476  14742215  154742261
2  162936139  26399356  136536783

>CHALLENGE: Community Advisor Improvements

         YES        NO     Result
0  141205436   1778457  139426979
1  123004008    626978  122377030
2  121675363  10162876  111512487

>CHALLENGE: Cross-Chain Collaboration

         YES       NO     Result
0  286181977  9841567  276340410
1  265279737  6266468  259013269
2  200506155  7252963  193253192

>CHALLENGE: DApps and Integrations

         YES        NO     Result
0  182671900   8667012  174004888
1  179859155   9639790  170219365
2  178967619  10141326  168826293

>CHALLENGE: Developer Ecosystem

         YES        NO     Result
0  363906224  10218808  353687416
1  218200805   8038546  210162259
2  227821075  23778876  204042199

>CHALLENGE: Film + Media (FAM) creatives un

         YES       NO    Result
0  101631939  2368417  99263522
1   71433064  5468323  65964741
2   60634525  5363019  55271506

>CHALLENGE: Gamers On - Chained

         YES        NO     Result
0  179827573   9322622  170504951
1  115809649   6133700  109675949
2   95526045  13406340   82119705

>CHALLENGE: Grow Africa, Grow Cardano

         YES        NO     Result
0  115270785   7580621  107690164
1  103970385  12309822   91660563
2   76748670   3258511   73490159

>CHALLENGE: Grow East Asia, Grow Cardano

         YES       NO     Result
0  176311311  7580779  168730532
1  114018878  2107512  111911366
2  112545765   660602  111885163

>CHALLENGE: Grow India, Grow Cardano

         YES        NO     Result
0  125291672  11854594  113437078
1  103603553   4432441   99171112
2   75597379  13299547   62297832

>CHALLENGE: Improve and Grow Auditability

         YES       NO     Result
0  131896989  3513306  128383683
1   63408746  1089494   62319252
2   60150218  3143503   57006715

>CHALLENGE: Lobbying for favorable legislat

         YES       NO     Result
0  129871544   269594  129601950
1  133038687  7015883  126022804
2  108346301   600182  107746119

>CHALLENGE: Miscellaneous Challenge

         YES        NO     Result
0  149690046  14708558  134981488
1  123606893   3421498  120185395
2   94001931   4734656   89267275

>CHALLENGE: Nation Building Dapps

         YES        NO     Result
0  183918374   8084229  175834145
1  138049356  12000524  126048832
2  101553805   3629855   97923950

>CHALLENGE: New Member Onboarding

         YES       NO     Result
0  122007252  1790855  120216397
1   77400850  1800945   75599905
2   67470377  3407835   64062542

>CHALLENGE: Open Source Development Ecosyst

         YES        NO     Result
0  348111439   3140287  344971152
1  207722907   4831816  202891091
2  202455403  12739108  189716295

>CHALLENGE: Open Standards & Interoperabili

         YES       NO     Result
0  129774237  6614336  123159901
1  113499565  4903996  108595569
2   60563871  2781356   57782515

>CHALLENGE: Scale-UP Cardanos Community Hub

         YES       NO     Result
0  149893287  9644640  140248647
1  129709105  3707746  126001359
2  124095533  4462834  119632699

>CHALLENGE: Self-Sovereign Identity

         YES       NO     Result
0  109517865   773866  108743999
1   95629710  1786068   93843642
2   88563703  1231531   87332172

>CHALLENGE: The Great Migration (from Ether

         YES        NO     Result
0  152988834   2545273  150443561
1  102707040  11190433   91516607
2   89251675  10487144   78764531

>CHALLENGE: Fund9 challenge setting

         YES        NO     Result
0  179238979   3252552  175986427
1  164478433   3922745  160555688
2  165086738  20049656  145037082

>CHALLENGE: Funded by leftovers

         YES        NO     Result
0  162936139  26399356  136536783
1   83876492  14733406   69143086
2   76731726   9878372   66853354

#### 'REQUESTED \$' FEATURE

In [22]:
for fund in funds:
    print('\n >> FUND: {}'.format(fund))
    print_requested(fund)

 >> FUND: f3
>CHALLENGE: DApp creation

0    53000
1    33000
2    48965
Name: REQUESTED $, dtype: int64

>CHALLENGE: Developer ecosystem

0    10000
1    16450
2    53000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Community choice

0    250000
1    250000
2    400000
Name: REQUESTED $, dtype: int64

 >> FUND: f4
>CHALLENGE: DApp&Integrations

0    36500
1    15000
2    50000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Developer ecosystem

0    56500
1     6500
2    80000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Distributed decision making

0      800
1    14000
2    30669
Name: REQUESTED $, dtype: int64

>CHALLENGE: Proposer Outreach

0     6000
1    13280
2    10000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Catalyst Value Onboarding

0    10000
1     8740
2    15000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Local Community Centers

0     4000
1     3000
2    16900
Name: REQUESTED $, dtype: int64

>CHALLENGE: Fund6 Challenge Setting

0    50000
1    75000
2    90000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Sponsored by leftovers

0    28648
1     5000
2    30000
Name: REQUESTED $, dtype: int64

 >> FUND: f5
>CHALLENGE: Developer ecosystem

0     7500
1    50000
2     9000
Name: REQUESTED $, dtype: int64

>CHALLENGE: DApp&Integrations

0     30000
1    100000
2     40000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Distributed decision making

0    29000
1     4600
2     8400
Name: REQUESTED $, dtype: int64

>CHALLENGE: Proposer Outreach

0    19000
1    11600
2    43827
Name: REQUESTED $, dtype: int64

>CHALLENGE: Catalyst Value Onboarding

0     8900
1    11000
2      500
Name: REQUESTED $, dtype: int64

>CHALLENGE: Metadata challenge

0    19200
1    12500
2     3000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Grow Africa, Grow Cardano wv

0    45000
1    20000
2    60000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Scale-UP Cardanos DeFi Ecosyste

0    119000
1     25000
2     37500
Name: REQUESTED $, dtype: int64

>CHALLENGE: Fund7 Challenge Setting wv

0    200000
1    250000
2    150000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Sponsored by leftovers

0    125695
1     91000
2     40000
Name: REQUESTED $, dtype: int64

 >> FUND: f6
>CHALLENGE: Developer ecosystem

0    60000
1    35000
2    87700
Name: REQUESTED $, dtype: int64

>CHALLENGE: DApps & Integrations

0    25000
1    46850
2    40000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Distributed decision making

0     3200
1    15000
2     3650
Name: REQUESTED $, dtype: int64

>CHALLENGE: Proposer outreach

0     6370
1    20000
2    12690
Name: REQUESTED $, dtype: int64

>CHALLENGE: Catalyst value onboarding

0    17500
1    21000
2    10000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Metadata

0    25000
1    40000
2     6000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Grow Africa, Grow Cardano

0     9840
1    50000
2    40000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Scale-UP Cardano’s DeFi Ecosyst

0    50000
1    60000
2    60000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Cardano Emerging Threat Alarm

0    10000
1    30000
2    40000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Multilingual resources

0    12500
1    16830
2     4360
Name: REQUESTED $, dtype: int64

>CHALLENGE: DeFi and Microlending for Afric

0     9280
1    28520
2     9200
Name: REQUESTED $, dtype: int64

>CHALLENGE: DLT Entrepreneurship Toolbox

0    35000
1    25000
2     7000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Partnerships for Global Adoptio

0     8400
1    10000
2     7500
Name: REQUESTED $, dtype: int64

>CHALLENGE: NFT Business models

0    15000
1    80000
2    18600
Name: REQUESTED $, dtype: int64

>CHALLENGE: Atala PRISM DID Mass-Scale Adop

0    10000
1    37000
2    12500
Name: REQUESTED $, dtype: int64

>CHALLENGE: Disaster When all is at stake

0    40000
1     1000
2    22000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Scale-UP Cardano’s Community Hu

0    7250
1    9900
2    3000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Improve and Grow Auditability

0     8720
1    17200
2    15000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Fund7 challenge setting

0    500000
1    200000
2     75000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Sponsored by leftovers

0     33000
1    115700
2     40000
Name: REQUESTED $, dtype: int64

 >> FUND: f7
>CHALLENGE: A.I. & SingularityNet a $5T mar

0    120000
1    110000
2     30000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Accelerate Decentralized Identi

0    18200
1     5500
2    50000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Boosting Cardanos DeFi

0    80000
1    92820
2    21900
Name: REQUESTED $, dtype: int64

>CHALLENGE: Catalyst - Rapid Funding Mechan

0    96000
1    71000
2    41000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Catalyst Accelerator & Mentors

0    10000
1    34250
2    60000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Catalyst Natives COTI Pay with

0    35160
1    13200
2    19600
Name: REQUESTED $, dtype: int64

>CHALLENGE: Community Events

0     4000
1    22700
2     4350
Name: REQUESTED $, dtype: int64

>CHALLENGE: Connecting Japan日本 Community

0     9000
1    10000
2     5000
Name: REQUESTED $, dtype: int64

>CHALLENGE: DAOs ❤ Cardano

0     2987
1    25000
2    72000
Name: REQUESTED $, dtype: int64

>CHALLENGE: DApps & Integrations

0    23700
1    50000
2    25050
Name: REQUESTED $, dtype: int64

>CHALLENGE: Disarm cyber disinformation att

0    39500
1    20000
2     1500
Name: REQUESTED $, dtype: int64

>CHALLENGE: Gamers On-Chained

0    57000
1    45000
2    31426
Name: REQUESTED $, dtype: int64

>CHALLENGE: Global Sustainable Indep. SPOs

0     3500
1    38100
2     5000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Grow Latin America, Grow Cardan

0     9150
1     7500
2    19488
Name: REQUESTED $, dtype: int64

>CHALLENGE: Improve and Grow Auditability

0    19000
1    19100
2    16100
Name: REQUESTED $, dtype: int64

>CHALLENGE: Lobbying for favorable legislat

0     3000
1    25000
2     7500
Name: REQUESTED $, dtype: int64

>CHALLENGE: MiniLow-Budget Dapps & Integrat

0    10000
1    10000
2    10000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Miscellaneous Challenge

0    28000
1     4980
2    40000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Multilingual resources

0    15000
1     7500
2    12500
Name: REQUESTED $, dtype: int64

>CHALLENGE: Nation Building Dapps

0     75000
1     75000
2    146960
Name: REQUESTED $, dtype: int64

>CHALLENGE: New SPO Business Opportunities

0     35300
1     20000
2    100000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Open Source Developer Ecosystem

0     75000
1     40000
2    119000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Scale-UP Cardanos Community Hub

0    80000
1    10000
2     1500
Name: REQUESTED $, dtype: int64

>CHALLENGE: Seeding Cardanos Grassroots DeF

0    12000
1    50000
2    26500
Name: REQUESTED $, dtype: int64

>CHALLENGE: Fund8 challenge setting

0    1000000
1    1200000
2     800000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Sponsored by leftovers

0    119000
1     25000
2     12000
Name: REQUESTED $, dtype: int64

 >> FUND: f8
>CHALLENGE: Accelerate Decentralized Identi

0     6425
1    46200
2    25000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Business Solutions (B2B & B2C)

0    100000
1     40000
2     56000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Cardano scaling solutions

0      80000
1      75000
2    1000000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Community Advisor Improvements

0    7500
1    7500
2    3800
Name: REQUESTED $, dtype: int64

>CHALLENGE: Cross-Chain Collaboration

0    20000
1    75000
2     8500
Name: REQUESTED $, dtype: int64

>CHALLENGE: DApps and Integrations

0    45000
1    30200
2    20000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Developer Ecosystem

0    83000
1    20000
2    90000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Film + Media (FAM) creatives un

0    10000
1    15000
2    15000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Gamers On - Chained

0    54050
1    13200
2    35000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Grow Africa, Grow Cardano

0    15000
1    24200
2     9800
Name: REQUESTED $, dtype: int64

>CHALLENGE: Grow East Asia, Grow Cardano

0    50000
1     8640
2    11500
Name: REQUESTED $, dtype: int64

>CHALLENGE: Grow India, Grow Cardano

0    22500
1    24900
2    29750
Name: REQUESTED $, dtype: int64

>CHALLENGE: Improve and Grow Auditability

0    26000
1    28420
2    50000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Lobbying for favorable legislat

0    13830
1    30000
2    20000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Miscellaneous Challenge

0    45000
1    30000
2    24600
Name: REQUESTED $, dtype: int64

>CHALLENGE: Nation Building Dapps

0    111100
1     48500
2     18600
Name: REQUESTED $, dtype: int64

>CHALLENGE: New Member Onboarding

0    15000
1    15000
2    27260
Name: REQUESTED $, dtype: int64

>CHALLENGE: Open Source Development Ecosyst

0    75000
1     8000
2    30000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Open Standards & Interoperabili

0    20000
1    31600
2    49500
Name: REQUESTED $, dtype: int64

>CHALLENGE: Scale-UP Cardanos Community Hub

0    80000
1    17600
2    22500
Name: REQUESTED $, dtype: int64

>CHALLENGE: Self-Sovereign Identity

0    10000
1     7000
2    30300
Name: REQUESTED $, dtype: int64

>CHALLENGE: The Great Migration (from Ether

0    27000
1    90000
2    75000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Fund9 challenge setting

0     500000
1    1000000
2    2350000
Name: REQUESTED $, dtype: int64

>CHALLENGE: Funded by leftovers

0    1000000
1      50000
2      24150
Name: REQUESTED $, dtype: int64

#### Columns and Missing default-columns

In [23]:
for fund in funds:
    print('\n >> FUND: {}'.format(fund))
    print_ch(fund)

 >> FUND: f3
#CHALLANGES: 3

CHALLANGE: DApp creation
columns: ['Proposal', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique No', 'Unique Yes', 'SCORE'}

CHALLANGE: Developer ecosystem
columns: ['Proposal', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique No', 'Unique Yes', 'SCORE'}

CHALLANGE: Community choice
columns: ['Proposal', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique No', 'Unique Yes', 'SCORE'}

 >> FUND: f4
#CHALLANGES: 8

CHALLANGE: DApp&Integrations
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Developer ecosystem
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Distributed decision making
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Proposer Outreach
columns: ['Proposal', 'Link to Ideascale', 'SCORE', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Catalyst Value Onboarding
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Local Community Centers
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Fund6 Challenge Setting
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Sponsored by leftovers
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

 >> FUND: f5
#CHALLANGES: 10

CHALLANGE: Developer ecosystem
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Unique Yes', 'Unique No', 'Votes casted', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: set()

CHALLANGE: DApp&Integrations
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Unique Yes', 'Unique No', 'Votes casted', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: set()

CHALLANGE: Distributed decision making
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Unique Yes', 'Unique No', 'Votes casted', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: set()

CHALLANGE: Proposer Outreach
columns: ['Proposal', 'Link to Ideascale', 'SCORE', 'Unique Yes', 'Unique No', 'Votes casted', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: set()

CHALLANGE: Catalyst Value Onboarding
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Unique Yes', 'Unique No', 'Votes casted', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: set()

CHALLANGE: Metadata challenge
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Unique Yes', 'Unique No', 'Votes casted', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: set()

CHALLANGE: Grow Africa, Grow Cardano wv
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Unique Yes', 'Unique No', 'Votes casted', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: set()

CHALLANGE: Scale-UP Cardanos DeFi Ecosyste
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Unique Yes', 'Unique No', 'Votes casted', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: set()

CHALLANGE: Fund7 Challenge Setting wv
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Unique Yes', 'Unique No', 'Votes casted', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: set()

CHALLANGE: Sponsored by leftovers
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Unique Yes', 'Unique No', 'Votes casted', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: set()

 >> FUND: f6
#CHALLANGES: 20

CHALLANGE: Developer ecosystem
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: DApps & Integrations
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Distributed decision making
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Proposer outreach
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Catalyst value onboarding
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Metadata
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Grow Africa, Grow Cardano
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Scale-UP Cardano’s DeFi Ecosyst
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Cardano Emerging Threat Alarm
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Multilingual resources
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: DeFi and Microlending for Afric
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: DLT Entrepreneurship Toolbox
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Partnerships for Global Adoptio
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: NFT Business models
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Atala PRISM DID Mass-Scale Adop
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Disaster When all is at stake
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Scale-UP Cardano’s Community Hu
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Improve and Grow Auditability
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Fund7 challenge setting
columns: ['Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Sponsored by leftovers
columns: ['Challenge', 'Proposal', 'Link to ideascale', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

 >> FUND: f7
#CHALLANGES: 26

CHALLANGE: A.I. & SingularityNet a $5T mar
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Accelerate Decentralized Identi
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Boosting Cardanos DeFi
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Catalyst - Rapid Funding Mechan
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Catalyst Accelerator & Mentors
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Catalyst Natives COTI Pay with
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Community Events
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Connecting Japan日本 Community
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: DAOs ❤ Cardano
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: DApps & Integrations
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Disarm cyber disinformation att
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Gamers On-Chained
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Global Sustainable Indep. SPOs
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Grow Latin America, Grow Cardan
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Improve and Grow Auditability
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Lobbying for favorable legislat
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: MiniLow-Budget Dapps & Integrat
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Miscellaneous Challenge
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Multilingual resources
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Nation Building Dapps
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: New SPO Business Opportunities
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Open Source Developer Ecosystem
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Scale-UP Cardanos Community Hub
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Seeding Cardanos Grassroots DeF
columns: ['Proposal', 'SCORE', 'Votes cast', 'YES', 'NO', 'Result', 'Meets approval threshold', 'REQUESTED $', 'STATUS', 'FUND DEPLETION', 'Reason for not funded status', 'challenge', 'Budget', 'REQUESTED %']
Missing defaults: {'Unique Yes', 'Unique No'}

CHALLANGE: Fund8 challenge setting

#### DataFrame.info()

In [24]:
for fund in funds:
    print('\n >> FUND: {}'.format(fund))
    display_info(fund)

 >> FUND: f3
>CHALLENGE: DApp creation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      76 non-null     object
 1   YES                           76 non-null     int64
 2   NO                            76 non-null     int64
 3   Result                        76 non-null     int64
 4   Meets approval threshold      76 non-null     object
 5   REQUESTED $                   76 non-null     int64
 6   STATUS                        76 non-null     object
 7   FUND DEPLETION                76 non-null     int64
 8   Reason for not funded status  68 non-null     object
 9   challenge                     76 non-null     object
 10  Budget                        76 non-null     int64
 11  REQUESTED %                   76 non-null     float64
dtypes: float64(1), int64(6), object(5)
memory usage: 7.2+ KB

None

>CHALLENGE: Developer ecosystem
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      47 non-null     object
 1   YES                           47 non-null     int64
 2   NO                            47 non-null     int64
 3   Result                        47 non-null     int64
 4   Meets approval threshold      47 non-null     object
 5   REQUESTED $                   47 non-null     int64
 6   STATUS                        47 non-null     object
 7   FUND DEPLETION                47 non-null     int64
 8   Reason for not funded status  35 non-null     object
 9   challenge                     47 non-null     object
 10  Budget                        47 non-null     int64
 11  REQUESTED %                   47 non-null     float64
dtypes: float64(1), int64(6), object(5)
memory usage: 4.5+ KB

None

>CHALLENGE: Community choice
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      27 non-null     object
 1   YES                           27 non-null     int64
 2   NO                            27 non-null     int64
 3   Result                        27 non-null     int64
 4   Meets approval threshold      27 non-null     object
 5   REQUESTED $                   27 non-null     int64
 6   STATUS                        27 non-null     object
 7   FUND DEPLETION                27 non-null     int64
 8   Reason for not funded status  25 non-null     object
 9   challenge                     27 non-null     object
 10  Budget                        27 non-null     int64
 11  REQUESTED %                   27 non-null     float64
dtypes: float64(1), int64(6), object(5)
memory usage: 2.7+ KB

None

 >> FUND: f4
>CHALLENGE: DApp&Integrations
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      104 non-null    object
 1   Link to ideascale             104 non-null    object
 2   SCORE                         104 non-null    float64
 3   YES                           104 non-null    int64
 4   NO                            104 non-null    int64
 5   Result                        104 non-null    int64
 6   Meets approval threshold      104 non-null    object
 7   REQUESTED $                   104 non-null    int64
 8   STATUS                        104 non-null    object
 9   FUND DEPLETION                104 non-null    int64
 10  Reason for not funded status  97 non-null     object
 11  challenge                     104 non-null    object
 12  Budget                        104 non-null    int64
 13  REQUESTED %                   104 non-null    float64
dtypes: float64(2), int64(6), object(6)
memory usage: 11.5+ KB

None

>CHALLENGE: Developer ecosystem
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      71 non-null     object
 1   Link to ideascale             71 non-null     object
 2   SCORE                         71 non-null     float64
 3   YES                           71 non-null     int64
 4   NO                            71 non-null     int64
 5   Result                        71 non-null     int64
 6   Meets approval threshold      71 non-null     object
 7   REQUESTED $                   71 non-null     int64
 8   STATUS                        71 non-null     object
 9   FUND DEPLETION                71 non-null     int64
 10  Reason for not funded status  46 non-null     object
 11  challenge                     71 non-null     object
 12  Budget                        71 non-null     int64
 13  REQUESTED %                   71 non-null     float64
dtypes: float64(2), int64(6), object(6)
memory usage: 7.9+ KB

None

>CHALLENGE: Distributed decision making
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      19 non-null     object
 1   Link to ideascale             19 non-null     object
 2   SCORE                         19 non-null     float64
 3   YES                           19 non-null     int64
 4   NO                            19 non-null     int64
 5   Result                        19 non-null     int64
 6   Meets approval threshold      19 non-null     object
 7   REQUESTED $                   19 non-null     int64
 8   STATUS                        19 non-null     object
 9   FUND DEPLETION                19 non-null     int64
 10  Reason for not funded status  16 non-null     object
 11  challenge                     19 non-null     object
 12  Budget                        19 non-null     int64
 13  REQUESTED %                   19 non-null     float64
dtypes: float64(2), int64(6), object(6)
memory usage: 2.2+ KB

None

>CHALLENGE: Proposer Outreach
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      17 non-null     object
 1   Link to Ideascale             17 non-null     object
 2   SCORE                         17 non-null     float64
 3   YES                           17 non-null     int64
 4   NO                            17 non-null     int64
 5   Result                        17 non-null     int64
 6   Meets approval threshold      17 non-null     object
 7   REQUESTED $                   17 non-null     int64
 8   STATUS                        17 non-null     object
 9   FUND DEPLETION                17 non-null     int64
 10  Reason for not funded status  14 non-null     object
 11  challenge                     17 non-null     object
 12  Budget                        17 non-null     int64
 13  REQUESTED %                   17 non-null     float64
dtypes: float64(2), int64(6), object(6)
memory usage: 2.0+ KB

None

>CHALLENGE: Catalyst Value Onboarding
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      12 non-null     object
 1   Link to ideascale             12 non-null     object
 2   SCORE                         12 non-null     float64
 3   YES                           12 non-null     int64
 4   NO                            12 non-null     int64
 5   Result                        12 non-null     int64
 6   Meets approval threshold      12 non-null     object
 7   REQUESTED $                   12 non-null     int64
 8   STATUS                        12 non-null     object
 9   FUND DEPLETION                12 non-null     int64
 10  Reason for not funded status  7 non-null      object
 11  challenge                     12 non-null     object
 12  Budget                        12 non-null     int64
 13  REQUESTED %                   12 non-null     float64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.4+ KB

None

>CHALLENGE: Local Community Centers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      25 non-null     object
 1   Link to ideascale             25 non-null     object
 2   SCORE                         25 non-null     float64
 3   YES                           25 non-null     int64
 4   NO                            25 non-null     int64
 5   Result                        25 non-null     int64
 6   Meets approval threshold      25 non-null     object
 7   REQUESTED $                   25 non-null     int64
 8   STATUS                        25 non-null     object
 9   FUND DEPLETION                25 non-null     int64
 10  Reason for not funded status  20 non-null     object
 11  challenge                     25 non-null     object
 12  Budget                        25 non-null     int64
 13  REQUESTED %                   25 non-null     float64
dtypes: float64(2), int64(6), object(6)
memory usage: 2.9+ KB

None

>CHALLENGE: Fund6 Challenge Setting
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      29 non-null     object
 1   Link to ideascale             29 non-null     object
 2   SCORE                         29 non-null     float64
 3   YES                           29 non-null     int64
 4   NO                            29 non-null     int64
 5   Result                        29 non-null     int64
 6   Meets approval threshold      29 non-null     object
 7   REQUESTED $                   29 non-null     int64
 8   STATUS                        29 non-null     object
 9   FUND DEPLETION                29 non-null     int64
 10  Reason for not funded status  24 non-null     object
 11  challenge                     29 non-null     object
 12  Budget                        29 non-null     int64
 13  REQUESTED %                   29 non-null     float64
dtypes: float64(2), int64(6), object(6)
memory usage: 3.3+ KB

None

>CHALLENGE: Sponsored by leftovers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      26 non-null     object
 1   Link to ideascale             26 non-null     object
 2   SCORE                         26 non-null     float64
 3   YES                           26 non-null     int64
 4   NO                            26 non-null     int64
 5   Result                        26 non-null     int64
 6   Meets approval threshold      26 non-null     object
 7   REQUESTED $                   26 non-null     int64
 8   STATUS                        26 non-null     object
 9   FUND DEPLETION                26 non-null     int64
 10  Reason for not funded status  23 non-null     object
 11  challenge                     26 non-null     object
 12  Budget                        26 non-null     int64
 13  REQUESTED %                   26 non-null     float64
dtypes: float64(2), int64(6), object(6)
memory usage: 3.0+ KB

None

 >> FUND: f5
>CHALLENGE: Developer ecosystem
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      43 non-null     object
 1   Link to ideascale             43 non-null     object
 2   SCORE                         43 non-null     float64
 3   Unique Yes                    43 non-null     int64
 4   Unique No                     43 non-null     int64
 5   Votes casted                  43 non-null     float64
 6   YES                           43 non-null     int64
 7   NO                            43 non-null     int64
 8   Result                        43 non-null     int64
 9   Meets approval threshold      43 non-null     object
 10  REQUESTED $                   43 non-null     int64
 11  STATUS                        43 non-null     object
 12  FUND DEPLETION                43 non-null     int64
 13  Reason for not funded status  19 non-null     object
 14  challenge                     43 non-null     object
 15  Budget                        43 non-null     int64
 16  REQUESTED %                   43 non-null     float64
dtypes: float64(3), int64(8), object(6)
memory usage: 5.8+ KB

None

>CHALLENGE: DApp&Integrations
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      81 non-null     object
 1   Link to ideascale             81 non-null     object
 2   SCORE                         81 non-null     float64
 3   Unique Yes                    81 non-null     int64
 4   Unique No                     81 non-null     int64
 5   Votes casted                  81 non-null     float64
 6   YES                           81 non-null     int64
 7   NO                            81 non-null     int64
 8   Result                        81 non-null     int64
 9   Meets approval threshold      81 non-null     object
 10  REQUESTED $                   81 non-null     int64
 11  STATUS                        81 non-null     object
 12  FUND DEPLETION                81 non-null     int64
 13  Reason for not funded status  76 non-null     object
 14  challenge                     81 non-null     object
 15  Budget                        81 non-null     int64
 16  REQUESTED %                   81 non-null     float64
dtypes: float64(3), int64(8), object(6)
memory usage: 10.9+ KB

None

>CHALLENGE: Distributed decision making
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      13 non-null     object
 1   Link to ideascale             13 non-null     object
 2   SCORE                         13 non-null     float64
 3   Unique Yes                    13 non-null     int64
 4   Unique No                     13 non-null     int64
 5   Votes casted                  13 non-null     float64
 6   YES                           13 non-null     int64
 7   NO                            13 non-null     int64
 8   Result                        13 non-null     int64
 9   Meets approval threshold      13 non-null     object
 10  REQUESTED $                   13 non-null     int64
 11  STATUS                        13 non-null     object
 12  FUND DEPLETION                13 non-null     int64
 13  Reason for not funded status  7 non-null      object
 14  challenge                     13 non-null     object
 15  Budget                        13 non-null     int64
 16  REQUESTED %                   13 non-null     float64
dtypes: float64(3), int64(8), object(6)
memory usage: 1.9+ KB

None

>CHALLENGE: Proposer Outreach
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      19 non-null     object
 1   Link to Ideascale             19 non-null     object
 2   SCORE                         19 non-null     float64
 3   Unique Yes                    19 non-null     int64
 4   Unique No                     19 non-null     int64
 5   Votes casted                  19 non-null     float64
 6   YES                           19 non-null     int64
 7   NO                            19 non-null     int64
 8   Result                        19 non-null     int64
 9   Meets approval threshold      19 non-null     object
 10  REQUESTED $                   19 non-null     int64
 11  STATUS                        19 non-null     object
 12  FUND DEPLETION                19 non-null     int64
 13  Reason for not funded status  13 non-null     object
 14  challenge                     19 non-null     object
 15  Budget                        19 non-null     int64
 16  REQUESTED %                   19 non-null     float64
dtypes: float64(3), int64(8), object(6)
memory usage: 2.6+ KB

None

>CHALLENGE: Catalyst Value Onboarding
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      19 non-null     object
 1   Link to ideascale             19 non-null     object
 2   SCORE                         19 non-null     float64
 3   Unique Yes                    19 non-null     int64
 4   Unique No                     19 non-null     int64
 5   Votes casted                  19 non-null     float64
 6   YES                           19 non-null     int64
 7   NO                            19 non-null     int64
 8   Result                        19 non-null     int64
 9   Meets approval threshold      19 non-null     object
 10  REQUESTED $                   19 non-null     int64
 11  STATUS                        19 non-null     object
 12  FUND DEPLETION                19 non-null     int64
 13  Reason for not funded status  9 non-null      object
 14  challenge                     19 non-null     object
 15  Budget                        19 non-null     int64
 16  REQUESTED %                   19 non-null     float64
dtypes: float64(3), int64(8), object(6)
memory usage: 2.6+ KB

None

>CHALLENGE: Metadata challenge
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      20 non-null     object
 1   Link to ideascale             20 non-null     object
 2   SCORE                         20 non-null     float64
 3   Unique Yes                    20 non-null     int64
 4   Unique No                     20 non-null     int64
 5   Votes casted                  20 non-null     float64
 6   YES                           20 non-null     int64
 7   NO                            20 non-null     int64
 8   Result                        20 non-null     int64
 9   Meets approval threshold      20 non-null     object
 10  REQUESTED $                   20 non-null     int64
 11  STATUS                        20 non-null     object
 12  FUND DEPLETION                20 non-null     int64
 13  Reason for not funded status  15 non-null     object
 14  challenge                     20 non-null     object
 15  Budget                        20 non-null     int64
 16  REQUESTED %                   20 non-null     float64
dtypes: float64(3), int64(8), object(6)
memory usage: 2.8+ KB

None

>CHALLENGE: Grow Africa, Grow Cardano wv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      27 non-null     object
 1   Link to ideascale             27 non-null     object
 2   SCORE                         27 non-null     float64
 3   Unique Yes                    27 non-null     int64
 4   Unique No                     27 non-null     int64
 5   Votes casted                  27 non-null     float64
 6   YES                           27 non-null     int64
 7   NO                            27 non-null     int64
 8   Result                        27 non-null     int64
 9   Meets approval threshold      27 non-null     object
 10  REQUESTED $                   27 non-null     int64
 11  STATUS                        27 non-null     object
 12  FUND DEPLETION                27 non-null     int64
 13  Reason for not funded status  19 non-null     object
 14  challenge                     27 non-null     object
 15  Budget                        27 non-null     int64
 16  REQUESTED %                   27 non-null     float64
dtypes: float64(3), int64(8), object(6)
memory usage: 3.7+ KB

None

>CHALLENGE: Scale-UP Cardanos DeFi Ecosyste
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      21 non-null     object
 1   Link to ideascale             21 non-null     object
 2   SCORE                         21 non-null     float64
 3   Unique Yes                    21 non-null     int64
 4   Unique No                     21 non-null     int64
 5   Votes casted                  21 non-null     float64
 6   YES                           21 non-null     int64
 7   NO                            21 non-null     int64
 8   Result                        21 non-null     int64
 9   Meets approval threshold      21 non-null     object
 10  REQUESTED $                   21 non-null     int64
 11  STATUS                        21 non-null     object
 12  FUND DEPLETION                21 non-null     int64
 13  Reason for not funded status  16 non-null     object
 14  challenge                     21 non-null     object
 15  Budget                        21 non-null     int64
 16  REQUESTED %                   21 non-null     float64
dtypes: float64(3), int64(8), object(6)
memory usage: 2.9+ KB

None

>CHALLENGE: Fund7 Challenge Setting wv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      23 non-null     object
 1   Link to ideascale             23 non-null     object
 2   SCORE                         23 non-null     float64
 3   Unique Yes                    23 non-null     int64
 4   Unique No                     23 non-null     int64
 5   Votes casted                  23 non-null     float64
 6   YES                           23 non-null     int64
 7   NO                            23 non-null     int64
 8   Result                        23 non-null     int64
 9   Meets approval threshold      23 non-null     object
 10  REQUESTED $                   23 non-null     int64
 11  STATUS                        23 non-null     object
 12  FUND DEPLETION                23 non-null     int64
 13  Reason for not funded status  18 non-null     object
 14  challenge                     23 non-null     object
 15  Budget                        23 non-null     int64
 16  REQUESTED %                   23 non-null     float64
dtypes: float64(3), int64(8), object(6)
memory usage: 3.2+ KB

None

>CHALLENGE: Sponsored by leftovers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      39 non-null     object
 1   Link to ideascale             39 non-null     object
 2   SCORE                         39 non-null     float64
 3   Unique Yes                    39 non-null     int64
 4   Unique No                     39 non-null     int64
 5   Votes casted                  39 non-null     float64
 6   YES                           39 non-null     int64
 7   NO                            39 non-null     int64
 8   Result                        39 non-null     int64
 9   Meets approval threshold      39 non-null     object
 10  REQUESTED $                   39 non-null     int64
 11  STATUS                        39 non-null     object
 12  FUND DEPLETION                39 non-null     int64
 13  Reason for not funded status  38 non-null     object
 14  challenge                     39 non-null     object
 15  Budget                        39 non-null     int64
 16  REQUESTED %                   39 non-null     float64
dtypes: float64(3), int64(8), object(6)
memory usage: 5.3+ KB

None

 >> FUND: f6
>CHALLENGE: Developer ecosystem
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      102 non-null    object
 1   Link to ideascale             102 non-null    object
 2   SCORE                         102 non-null    float64
 3   Votes cast                    102 non-null    float64
 4   YES                           102 non-null    int64
 5   NO                            102 non-null    int64
 6   Result                        102 non-null    int64
 7   Meets approval threshold      102 non-null    object
 8   REQUESTED $                   102 non-null    int64
 9   STATUS                        102 non-null    object
 10  FUND DEPLETION                102 non-null    int64
 11  Reason for not funded status  82 non-null     object
 12  challenge                     102 non-null    object
 13  Budget                        102 non-null    int64
 14  REQUESTED %                   102 non-null    float64
dtypes: float64(3), int64(6), object(6)
memory usage: 12.1+ KB

None

>CHALLENGE: DApps & Integrations
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      105 non-null    object
 1   Link to ideascale             105 non-null    object
 2   SCORE                         105 non-null    float64
 3   Votes cast                    105 non-null    float64
 4   YES                           105 non-null    int64
 5   NO                            105 non-null    int64
 6   Result                        105 non-null    int64
 7   Meets approval threshold      105 non-null    object
 8   REQUESTED $                   105 non-null    int64
 9   STATUS                        105 non-null    object
 10  FUND DEPLETION                105 non-null    int64
 11  Reason for not funded status  96 non-null     object
 12  challenge                     105 non-null    object
 13  Budget                        105 non-null    int64
 14  REQUESTED %                   105 non-null    float64
dtypes: float64(3), int64(6), object(6)
memory usage: 12.4+ KB

None

>CHALLENGE: Distributed decision making
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      20 non-null     object
 1   Link to ideascale             20 non-null     object
 2   SCORE                         20 non-null     float64
 3   Votes cast                    20 non-null     float64
 4   YES                           20 non-null     int64
 5   NO                            20 non-null     int64
 6   Result                        20 non-null     int64
 7   Meets approval threshold      20 non-null     object
 8   REQUESTED $                   20 non-null     int64
 9   STATUS                        20 non-null     object
 10  FUND DEPLETION                20 non-null     int64
 11  Reason for not funded status  10 non-null     object
 12  challenge                     20 non-null     object
 13  Budget                        20 non-null     int64
 14  REQUESTED %                   20 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 2.5+ KB

None

>CHALLENGE: Proposer outreach
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      28 non-null     object
 1   Link to ideascale             28 non-null     object
 2   SCORE                         28 non-null     float64
 3   Votes cast                    28 non-null     float64
 4   YES                           28 non-null     int64
 5   NO                            28 non-null     int64
 6   Result                        28 non-null     int64
 7   Meets approval threshold      28 non-null     object
 8   REQUESTED $                   28 non-null     int64
 9   STATUS                        28 non-null     object
 10  FUND DEPLETION                28 non-null     int64
 11  Reason for not funded status  19 non-null     object
 12  challenge                     28 non-null     object
 13  Budget                        28 non-null     int64
 14  REQUESTED %                   28 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 3.4+ KB

None

>CHALLENGE: Catalyst value onboarding
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      26 non-null     object
 1   Link to ideascale             26 non-null     object
 2   SCORE                         26 non-null     float64
 3   Votes cast                    26 non-null     float64
 4   YES                           26 non-null     int64
 5   NO                            26 non-null     int64
 6   Result                        26 non-null     int64
 7   Meets approval threshold      26 non-null     object
 8   REQUESTED $                   26 non-null     int64
 9   STATUS                        26 non-null     object
 10  FUND DEPLETION                26 non-null     int64
 11  Reason for not funded status  19 non-null     object
 12  challenge                     26 non-null     object
 13  Budget                        26 non-null     int64
 14  REQUESTED %                   26 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 3.2+ KB

None

>CHALLENGE: Metadata
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      30 non-null     object
 1   Link to ideascale             30 non-null     object
 2   SCORE                         30 non-null     float64
 3   Votes cast                    30 non-null     float64
 4   YES                           30 non-null     int64
 5   NO                            30 non-null     int64
 6   Result                        30 non-null     int64
 7   Meets approval threshold      30 non-null     object
 8   REQUESTED $                   30 non-null     int64
 9   STATUS                        30 non-null     object
 10  FUND DEPLETION                30 non-null     int64
 11  Reason for not funded status  25 non-null     object
 12  challenge                     30 non-null     object
 13  Budget                        30 non-null     int64
 14  REQUESTED %                   30 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 3.6+ KB

None

>CHALLENGE: Grow Africa, Grow Cardano
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      41 non-null     object
 1   Link to ideascale             41 non-null     object
 2   SCORE                         41 non-null     float64
 3   Votes cast                    41 non-null     float64
 4   YES                           41 non-null     int64
 5   NO                            41 non-null     int64
 6   Result                        41 non-null     int64
 7   Meets approval threshold      41 non-null     object
 8   REQUESTED $                   41 non-null     int64
 9   STATUS                        41 non-null     object
 10  FUND DEPLETION                41 non-null     int64
 11  Reason for not funded status  30 non-null     object
 12  challenge                     41 non-null     object
 13  Budget                        41 non-null     int64
 14  REQUESTED %                   41 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 4.9+ KB

None

>CHALLENGE: Scale-UP Cardano’s DeFi Ecosyst
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      21 non-null     object
 1   Link to ideascale             21 non-null     object
 2   SCORE                         21 non-null     float64
 3   Votes cast                    21 non-null     float64
 4   YES                           21 non-null     int64
 5   NO                            21 non-null     int64
 6   Result                        21 non-null     int64
 7   Meets approval threshold      21 non-null     object
 8   REQUESTED $                   21 non-null     int64
 9   STATUS                        21 non-null     object
 10  FUND DEPLETION                21 non-null     int64
 11  Reason for not funded status  15 non-null     object
 12  challenge                     21 non-null     object
 13  Budget                        21 non-null     int64
 14  REQUESTED %                   21 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 2.6+ KB

None

>CHALLENGE: Cardano Emerging Threat Alarm
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      9 non-null      object
 1   Link to ideascale             9 non-null      object
 2   SCORE                         9 non-null      float64
 3   Votes cast                    9 non-null      float64
 4   YES                           9 non-null      int64
 5   NO                            9 non-null      int64
 6   Result                        9 non-null      int64
 7   Meets approval threshold      9 non-null      object
 8   REQUESTED $                   9 non-null      int64
 9   STATUS                        9 non-null      object
 10  FUND DEPLETION                9 non-null      int64
 11  Reason for not funded status  6 non-null      object
 12  challenge                     9 non-null      object
 13  Budget                        9 non-null      int64
 14  REQUESTED %                   9 non-null      float64
dtypes: float64(3), int64(6), object(6)
memory usage: 1.2+ KB

None

>CHALLENGE: Multilingual resources
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      41 non-null     object
 1   Link to ideascale             41 non-null     object
 2   SCORE                         41 non-null     float64
 3   Votes cast                    41 non-null     float64
 4   YES                           41 non-null     int64
 5   NO                            41 non-null     int64
 6   Result                        41 non-null     int64
 7   Meets approval threshold      41 non-null     object
 8   REQUESTED $                   41 non-null     int64
 9   STATUS                        41 non-null     object
 10  FUND DEPLETION                41 non-null     int64
 11  Reason for not funded status  35 non-null     object
 12  challenge                     41 non-null     object
 13  Budget                        41 non-null     int64
 14  REQUESTED %                   41 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 4.9+ KB

None

>CHALLENGE: DeFi and Microlending for Afric
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      12 non-null     object
 1   Link to ideascale             12 non-null     object
 2   SCORE                         12 non-null     float64
 3   Votes cast                    12 non-null     float64
 4   YES                           12 non-null     int64
 5   NO                            12 non-null     int64
 6   Result                        12 non-null     int64
 7   Meets approval threshold      12 non-null     object
 8   REQUESTED $                   12 non-null     int64
 9   STATUS                        12 non-null     object
 10  FUND DEPLETION                12 non-null     int64
 11  Reason for not funded status  7 non-null      object
 12  challenge                     12 non-null     object
 13  Budget                        12 non-null     int64
 14  REQUESTED %                   12 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 1.5+ KB

None

>CHALLENGE: DLT Entrepreneurship Toolbox
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      23 non-null     object
 1   Link to ideascale             23 non-null     object
 2   SCORE                         23 non-null     float64
 3   Votes cast                    23 non-null     float64
 4   YES                           23 non-null     int64
 5   NO                            23 non-null     int64
 6   Result                        23 non-null     int64
 7   Meets approval threshold      23 non-null     object
 8   REQUESTED $                   23 non-null     int64
 9   STATUS                        23 non-null     object
 10  FUND DEPLETION                23 non-null     int64
 11  Reason for not funded status  13 non-null     object
 12  challenge                     23 non-null     object
 13  Budget                        23 non-null     int64
 14  REQUESTED %                   23 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 2.8+ KB

None

>CHALLENGE: Partnerships for Global Adoptio
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      13 non-null     object
 1   Link to ideascale             13 non-null     object
 2   SCORE                         13 non-null     float64
 3   Votes cast                    13 non-null     float64
 4   YES                           13 non-null     int64
 5   NO                            13 non-null     int64
 6   Result                        13 non-null     int64
 7   Meets approval threshold      13 non-null     object
 8   REQUESTED $                   13 non-null     int64
 9   STATUS                        13 non-null     object
 10  FUND DEPLETION                13 non-null     int64
 11  Reason for not funded status  8 non-null      object
 12  challenge                     13 non-null     object
 13  Budget                        13 non-null     int64
 14  REQUESTED %                   13 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 1.6+ KB

None

>CHALLENGE: NFT Business models
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      80 non-null     object
 1   Link to ideascale             80 non-null     object
 2   SCORE                         80 non-null     float64
 3   Votes cast                    80 non-null     float64
 4   YES                           80 non-null     int64
 5   NO                            80 non-null     int64
 6   Result                        80 non-null     int64
 7   Meets approval threshold      80 non-null     object
 8   REQUESTED $                   80 non-null     int64
 9   STATUS                        80 non-null     object
 10  FUND DEPLETION                80 non-null     int64
 11  Reason for not funded status  72 non-null     object
 12  challenge                     80 non-null     object
 13  Budget                        80 non-null     int64
 14  REQUESTED %                   80 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 9.5+ KB

None

>CHALLENGE: Atala PRISM DID Mass-Scale Adop
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      44 non-null     object
 1   Link to ideascale             44 non-null     object
 2   SCORE                         44 non-null     float64
 3   Votes cast                    44 non-null     float64
 4   YES                           44 non-null     int64
 5   NO                            44 non-null     int64
 6   Result                        44 non-null     int64
 7   Meets approval threshold      44 non-null     object
 8   REQUESTED $                   44 non-null     int64
 9   STATUS                        44 non-null     object
 10  FUND DEPLETION                44 non-null     int64
 11  Reason for not funded status  35 non-null     object
 12  challenge                     44 non-null     object
 13  Budget                        44 non-null     int64
 14  REQUESTED %                   44 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 5.3+ KB

None

>CHALLENGE: Disaster When all is at stake
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      10 non-null     object
 1   Link to ideascale             10 non-null     object
 2   SCORE                         10 non-null     float64
 3   Votes cast                    10 non-null     float64
 4   YES                           10 non-null     int64
 5   NO                            10 non-null     int64
 6   Result                        10 non-null     int64
 7   Meets approval threshold      10 non-null     object
 8   REQUESTED $                   10 non-null     int64
 9   STATUS                        10 non-null     object
 10  FUND DEPLETION                10 non-null     int64
 11  Reason for not funded status  5 non-null      object
 12  challenge                     10 non-null     object
 13  Budget                        10 non-null     int64
 14  REQUESTED %                   10 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 1.3+ KB

None

>CHALLENGE: Scale-UP Cardano’s Community Hu
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      32 non-null     object
 1   Link to ideascale             32 non-null     object
 2   SCORE                         32 non-null     float64
 3   Votes cast                    32 non-null     float64
 4   YES                           32 non-null     int64
 5   NO                            32 non-null     int64
 6   Result                        32 non-null     int64
 7   Meets approval threshold      32 non-null     object
 8   REQUESTED $                   32 non-null     int64
 9   STATUS                        32 non-null     object
 10  FUND DEPLETION                32 non-null     int64
 11  Reason for not funded status  21 non-null     object
 12  challenge                     32 non-null     object
 13  Budget                        32 non-null     int64
 14  REQUESTED %                   32 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 3.9+ KB

None

>CHALLENGE: Improve and Grow Auditability
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      11 non-null     object
 1   Link to ideascale             11 non-null     object
 2   SCORE                         11 non-null     float64
 3   Votes cast                    11 non-null     float64
 4   YES                           11 non-null     int64
 5   NO                            11 non-null     int64
 6   Result                        11 non-null     int64
 7   Meets approval threshold      11 non-null     object
 8   REQUESTED $                   11 non-null     int64
 9   STATUS                        11 non-null     object
 10  FUND DEPLETION                11 non-null     int64
 11  Reason for not funded status  5 non-null      object
 12  challenge                     11 non-null     object
 13  Budget                        11 non-null     int64
 14  REQUESTED %                   11 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 1.4+ KB

None

>CHALLENGE: Fund7 challenge setting
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      60 non-null     object
 1   Link to ideascale             60 non-null     object
 2   SCORE                         60 non-null     float64
 3   Votes cast                    60 non-null     float64
 4   YES                           60 non-null     int64
 5   NO                            60 non-null     int64
 6   Result                        60 non-null     int64
 7   Meets approval threshold      60 non-null     object
 8   REQUESTED $                   60 non-null     int64
 9   STATUS                        60 non-null     object
 10  FUND DEPLETION                60 non-null     int64
 11  Reason for not funded status  39 non-null     object
 12  challenge                     60 non-null     object
 13  Budget                        60 non-null     int64
 14  REQUESTED %                   60 non-null     float64
dtypes: float64(3), int64(6), object(6)
memory usage: 7.2+ KB

None

>CHALLENGE: Sponsored by leftovers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Challenge                     177 non-null    object
 1   Proposal                      177 non-null    object
 2   Link to ideascale             177 non-null    object
 3   SCORE                         177 non-null    float64
 4   Votes cast                    177 non-null    float64
 5   YES                           177 non-null    int64
 6   NO                            177 non-null    int64
 7   Result                        177 non-null    int64
 8   Meets approval threshold      177 non-null    object
 9   REQUESTED $                   177 non-null    int64
 10  STATUS                        177 non-null    object
 11  FUND DEPLETION                177 non-null    int64
 12  Reason for not funded status  171 non-null    object
 13  challenge                     177 non-null    object
 14  Budget                        177 non-null    int64
 15  REQUESTED %                   177 non-null    float64
dtypes: float64(3), int64(6), object(7)
memory usage: 22.2+ KB

None

 >> FUND: f7
>CHALLENGE: A.I. & SingularityNet a $5T mar
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      38 non-null     object
 1   SCORE                         38 non-null     float64
 2   Votes cast                    38 non-null     float64
 3   YES                           38 non-null     int64
 4   NO                            38 non-null     int64
 5   Result                        38 non-null     int64
 6   Meets approval threshold      38 non-null     object
 7   REQUESTED $                   38 non-null     int64
 8   STATUS                        38 non-null     object
 9   FUND DEPLETION                38 non-null     int64
 10  Reason for not funded status  29 non-null     object
 11  challenge                     38 non-null     object
 12  Budget                        38 non-null     int64
 13  REQUESTED %                   38 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 4.3+ KB

None

>CHALLENGE: Accelerate Decentralized Identi
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      56 non-null     object
 1   SCORE                         56 non-null     float64
 2   Votes cast                    56 non-null     float64
 3   YES                           56 non-null     int64
 4   NO                            56 non-null     int64
 5   Result                        56 non-null     int64
 6   Meets approval threshold      56 non-null     object
 7   REQUESTED $                   56 non-null     int64
 8   STATUS                        56 non-null     object
 9   FUND DEPLETION                56 non-null     int64
 10  Reason for not funded status  36 non-null     object
 11  challenge                     56 non-null     object
 12  Budget                        0 non-null      float64
 13  REQUESTED %                   0 non-null      float64
dtypes: float64(4), int64(5), object(5)
memory usage: 6.2+ KB

None

>CHALLENGE: Boosting Cardanos DeFi
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      43 non-null     object
 1   SCORE                         43 non-null     float64
 2   Votes cast                    43 non-null     float64
 3   YES                           43 non-null     int64
 4   NO                            43 non-null     int64
 5   Result                        43 non-null     int64
 6   Meets approval threshold      43 non-null     object
 7   REQUESTED $                   43 non-null     int64
 8   STATUS                        43 non-null     object
 9   FUND DEPLETION                43 non-null     int64
 10  Reason for not funded status  33 non-null     object
 11  challenge                     43 non-null     object
 12  Budget                        43 non-null     int64
 13  REQUESTED %                   43 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 4.8+ KB

None

>CHALLENGE: Catalyst - Rapid Funding Mechan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      15 non-null     object
 1   SCORE                         15 non-null     float64
 2   Votes cast                    15 non-null     float64
 3   YES                           15 non-null     int64
 4   NO                            15 non-null     int64
 5   Result                        15 non-null     int64
 6   Meets approval threshold      15 non-null     object
 7   REQUESTED $                   15 non-null     int64
 8   STATUS                        15 non-null     object
 9   FUND DEPLETION                15 non-null     int64
 10  Reason for not funded status  11 non-null     object
 11  challenge                     15 non-null     object
 12  Budget                        15 non-null     int64
 13  REQUESTED %                   15 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 1.8+ KB

None

>CHALLENGE: Catalyst Accelerator & Mentors
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      27 non-null     object
 1   SCORE                         27 non-null     float64
 2   Votes cast                    27 non-null     float64
 3   YES                           27 non-null     int64
 4   NO                            27 non-null     int64
 5   Result                        27 non-null     int64
 6   Meets approval threshold      27 non-null     object
 7   REQUESTED $                   27 non-null     int64
 8   STATUS                        27 non-null     object
 9   FUND DEPLETION                27 non-null     int64
 10  Reason for not funded status  15 non-null     object
 11  challenge                     27 non-null     object
 12  Budget                        27 non-null     int64
 13  REQUESTED %                   27 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 3.1+ KB

None

>CHALLENGE: Catalyst Natives COTI Pay with
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      16 non-null     object
 1   SCORE                         16 non-null     float64
 2   Votes cast                    16 non-null     float64
 3   YES                           16 non-null     int64
 4   NO                            16 non-null     int64
 5   Result                        16 non-null     int64
 6   Meets approval threshold      16 non-null     object
 7   REQUESTED $                   16 non-null     int64
 8   STATUS                        16 non-null     object
 9   FUND DEPLETION                16 non-null     int64
 10  Reason for not funded status  11 non-null     object
 11  challenge                     16 non-null     object
 12  Budget                        16 non-null     int64
 13  REQUESTED %                   16 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 1.9+ KB

None

>CHALLENGE: Community Events
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      44 non-null     object
 1   SCORE                         44 non-null     float64
 2   Votes cast                    44 non-null     float64
 3   YES                           44 non-null     int64
 4   NO                            44 non-null     int64
 5   Result                        44 non-null     int64
 6   Meets approval threshold      44 non-null     object
 7   REQUESTED $                   44 non-null     int64
 8   STATUS                        44 non-null     object
 9   FUND DEPLETION                44 non-null     int64
 10  Reason for not funded status  29 non-null     object
 11  challenge                     44 non-null     object
 12  Budget                        44 non-null     int64
 13  REQUESTED %                   44 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 4.9+ KB

None

>CHALLENGE: Connecting Japan日本 Community
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      11 non-null     object
 1   SCORE                         11 non-null     float64
 2   Votes cast                    11 non-null     float64
 3   YES                           11 non-null     int64
 4   NO                            11 non-null     int64
 5   Result                        11 non-null     int64
 6   Meets approval threshold      11 non-null     object
 7   REQUESTED $                   11 non-null     int64
 8   STATUS                        11 non-null     object
 9   FUND DEPLETION                11 non-null     int64
 10  Reason for not funded status  3 non-null      object
 11  challenge                     11 non-null     object
 12  Budget                        11 non-null     int64
 13  REQUESTED %                   11 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 1.3+ KB

None

>CHALLENGE: DAOs ❤ Cardano
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      41 non-null     object
 1   SCORE                         41 non-null     float64
 2   Votes cast                    41 non-null     float64
 3   YES                           41 non-null     int64
 4   NO                            41 non-null     int64
 5   Result                        41 non-null     int64
 6   Meets approval threshold      41 non-null     object
 7   REQUESTED $                   41 non-null     int64
 8   STATUS                        41 non-null     object
 9   FUND DEPLETION                41 non-null     int64
 10  Reason for not funded status  29 non-null     object
 11  challenge                     41 non-null     object
 12  Budget                        41 non-null     int64
 13  REQUESTED %                   41 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 4.6+ KB

None

>CHALLENGE: DApps & Integrations
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      85 non-null     object
 1   SCORE                         85 non-null     float64
 2   Votes cast                    85 non-null     float64
 3   YES                           85 non-null     int64
 4   NO                            85 non-null     int64
 5   Result                        85 non-null     int64
 6   Meets approval threshold      85 non-null     object
 7   REQUESTED $                   85 non-null     int64
 8   STATUS                        85 non-null     object
 9   FUND DEPLETION                85 non-null     int64
 10  Reason for not funded status  76 non-null     object
 11  challenge                     85 non-null     object
 12  Budget                        85 non-null     int64
 13  REQUESTED %                   85 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 9.4+ KB

None

>CHALLENGE: Disarm cyber disinformation att
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      11 non-null     object
 1   SCORE                         11 non-null     float64
 2   Votes cast                    11 non-null     float64
 3   YES                           11 non-null     int64
 4   NO                            11 non-null     int64
 5   Result                        11 non-null     int64
 6   Meets approval threshold      11 non-null     object
 7   REQUESTED $                   11 non-null     int64
 8   STATUS                        11 non-null     object
 9   FUND DEPLETION                11 non-null     int64
 10  Reason for not funded status  6 non-null      object
 11  challenge                     11 non-null     object
 12  Budget                        11 non-null     int64
 13  REQUESTED %                   11 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 1.3+ KB

None

>CHALLENGE: Gamers On-Chained
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      52 non-null     object
 1   SCORE                         52 non-null     float64
 2   Votes cast                    52 non-null     float64
 3   YES                           52 non-null     int64
 4   NO                            52 non-null     int64
 5   Result                        52 non-null     int64
 6   Meets approval threshold      52 non-null     object
 7   REQUESTED $                   52 non-null     int64
 8   STATUS                        52 non-null     object
 9   FUND DEPLETION                52 non-null     int64
 10  Reason for not funded status  44 non-null     object
 11  challenge                     52 non-null     object
 12  Budget                        52 non-null     int64
 13  REQUESTED %                   52 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 5.8+ KB

None

>CHALLENGE: Global Sustainable Indep. SPOs
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      21 non-null     object
 1   SCORE                         21 non-null     float64
 2   Votes cast                    21 non-null     float64
 3   YES                           21 non-null     int64
 4   NO                            21 non-null     int64
 5   Result                        21 non-null     int64
 6   Meets approval threshold      21 non-null     object
 7   REQUESTED $                   21 non-null     int64
 8   STATUS                        21 non-null     object
 9   FUND DEPLETION                21 non-null     int64
 10  Reason for not funded status  15 non-null     object
 11  challenge                     21 non-null     object
 12  Budget                        21 non-null     int64
 13  REQUESTED %                   21 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 2.4+ KB

None

>CHALLENGE: Grow Latin America, Grow Cardan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      68 non-null     object
 1   SCORE                         68 non-null     float64
 2   Votes cast                    68 non-null     float64
 3   YES                           68 non-null     int64
 4   NO                            68 non-null     int64
 5   Result                        68 non-null     int64
 6   Meets approval threshold      68 non-null     object
 7   REQUESTED $                   68 non-null     int64
 8   STATUS                        68 non-null     object
 9   FUND DEPLETION                68 non-null     int64
 10  Reason for not funded status  44 non-null     object
 11  challenge                     68 non-null     object
 12  Budget                        68 non-null     int64
 13  REQUESTED %                   68 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 7.6+ KB

None

>CHALLENGE: Improve and Grow Auditability
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      16 non-null     object
 1   SCORE                         16 non-null     float64
 2   Votes cast                    16 non-null     float64
 3   YES                           16 non-null     int64
 4   NO                            16 non-null     int64
 5   Result                        16 non-null     int64
 6   Meets approval threshold      16 non-null     object
 7   REQUESTED $                   16 non-null     int64
 8   STATUS                        16 non-null     object
 9   FUND DEPLETION                16 non-null     int64
 10  Reason for not funded status  8 non-null      object
 11  challenge                     16 non-null     object
 12  Budget                        16 non-null     int64
 13  REQUESTED %                   16 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 1.9+ KB

None

>CHALLENGE: Lobbying for favorable legislat
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      18 non-null     object
 1   SCORE                         18 non-null     float64
 2   Votes cast                    18 non-null     float64
 3   YES                           18 non-null     int64
 4   NO                            18 non-null     int64
 5   Result                        18 non-null     int64
 6   Meets approval threshold      18 non-null     object
 7   REQUESTED $                   18 non-null     int64
 8   STATUS                        18 non-null     object
 9   FUND DEPLETION                18 non-null     int64
 10  Reason for not funded status  11 non-null     object
 11  challenge                     18 non-null     object
 12  Budget                        18 non-null     int64
 13  REQUESTED %                   18 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 2.1+ KB

None

>CHALLENGE: MiniLow-Budget Dapps & Integrat
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      27 non-null     object
 1   SCORE                         27 non-null     float64
 2   Votes cast                    27 non-null     float64
 3   YES                           27 non-null     int64
 4   NO                            27 non-null     int64
 5   Result                        27 non-null     int64
 6   Meets approval threshold      27 non-null     object
 7   REQUESTED $                   27 non-null     int64
 8   STATUS                        27 non-null     object
 9   FUND DEPLETION                27 non-null     int64
 10  Reason for not funded status  11 non-null     object
 11  challenge                     27 non-null     object
 12  Budget                        27 non-null     int64
 13  REQUESTED %                   27 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 3.1+ KB

None

>CHALLENGE: Miscellaneous Challenge
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      68 non-null     object
 1   SCORE                         68 non-null     float64
 2   Votes cast                    68 non-null     float64
 3   YES                           68 non-null     int64
 4   NO                            68 non-null     int64
 5   Result                        68 non-null     int64
 6   Meets approval threshold      68 non-null     object
 7   REQUESTED $                   68 non-null     int64
 8   STATUS                        68 non-null     object
 9   FUND DEPLETION                68 non-null     int64
 10  Reason for not funded status  51 non-null     object
 11  challenge                     68 non-null     object
 12  Budget                        68 non-null     int64
 13  REQUESTED %                   68 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 7.6+ KB

None

>CHALLENGE: Multilingual resources
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      37 non-null     object
 1   SCORE                         37 non-null     float64
 2   Votes cast                    37 non-null     float64
 3   YES                           37 non-null     int64
 4   NO                            37 non-null     int64
 5   Result                        37 non-null     int64
 6   Meets approval threshold      37 non-null     object
 7   REQUESTED $                   37 non-null     int64
 8   STATUS                        37 non-null     object
 9   FUND DEPLETION                37 non-null     int64
 10  Reason for not funded status  24 non-null     object
 11  challenge                     37 non-null     object
 12  Budget                        37 non-null     int64
 13  REQUESTED %                   37 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 4.2+ KB

None

>CHALLENGE: Nation Building Dapps
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      37 non-null     object
 1   SCORE                         37 non-null     float64
 2   Votes cast                    37 non-null     float64
 3   YES                           37 non-null     int64
 4   NO                            37 non-null     int64
 5   Result                        37 non-null     int64
 6   Meets approval threshold      37 non-null     object
 7   REQUESTED $                   37 non-null     int64
 8   STATUS                        37 non-null     object
 9   FUND DEPLETION                37 non-null     int64
 10  Reason for not funded status  27 non-null     object
 11  challenge                     37 non-null     object
 12  Budget                        37 non-null     int64
 13  REQUESTED %                   37 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 4.2+ KB

None

>CHALLENGE: New SPO Business Opportunities
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      30 non-null     object
 1   SCORE                         30 non-null     float64
 2   Votes cast                    30 non-null     float64
 3   YES                           30 non-null     int64
 4   NO                            30 non-null     int64
 5   Result                        30 non-null     int64
 6   Meets approval threshold      30 non-null     object
 7   REQUESTED $                   30 non-null     int64
 8   STATUS                        30 non-null     object
 9   FUND DEPLETION                30 non-null     int64
 10  Reason for not funded status  23 non-null     object
 11  challenge                     30 non-null     object
 12  Budget                        30 non-null     int64
 13  REQUESTED %                   30 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 3.4+ KB

None

>CHALLENGE: Open Source Developer Ecosystem
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      29 non-null     object
 1   SCORE                         29 non-null     float64
 2   Votes cast                    29 non-null     float64
 3   YES                           29 non-null     int64
 4   NO                            29 non-null     int64
 5   Result                        29 non-null     int64
 6   Meets approval threshold      29 non-null     object
 7   REQUESTED $                   29 non-null     int64
 8   STATUS                        29 non-null     object
 9   FUND DEPLETION                29 non-null     int64
 10  Reason for not funded status  16 non-null     object
 11  challenge                     29 non-null     object
 12  Budget                        29 non-null     int64
 13  REQUESTED %                   29 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 3.3+ KB

None

>CHALLENGE: Scale-UP Cardanos Community Hub
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      62 non-null     object
 1   SCORE                         62 non-null     float64
 2   Votes cast                    62 non-null     float64
 3   YES                           62 non-null     int64
 4   NO                            62 non-null     int64
 5   Result                        62 non-null     int64
 6   Meets approval threshold      62 non-null     object
 7   REQUESTED $                   62 non-null     int64
 8   STATUS                        62 non-null     object
 9   FUND DEPLETION                62 non-null     int64
 10  Reason for not funded status  41 non-null     object
 11  challenge                     62 non-null     object
 12  Budget                        62 non-null     int64
 13  REQUESTED %                   62 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 6.9+ KB

None

>CHALLENGE: Seeding Cardanos Grassroots DeF
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      16 non-null     object
 1   SCORE                         16 non-null     float64
 2   Votes cast                    16 non-null     float64
 3   YES                           16 non-null     int64
 4   NO                            16 non-null     int64
 5   Result                        16 non-null     int64
 6   Meets approval threshold      16 non-null     object
 7   REQUESTED $                   16 non-null     int64
 8   STATUS                        16 non-null     object
 9   FUND DEPLETION                16 non-null     int64
 10  Reason for not funded status  9 non-null      object
 11  challenge                     16 non-null     object
 12  Budget                        16 non-null     int64
 13  REQUESTED %                   16 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 1.9+ KB

None

>CHALLENGE: Fund8 challenge setting
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      67 non-null     object
 1   SCORE                         67 non-null     float64
 2   Votes cast                    67 non-null     float64
 3   YES                           67 non-null     int64
 4   NO                            67 non-null     int64
 5   Result                        67 non-null     int64
 6   Meets approval threshold      67 non-null     object
 7   REQUESTED $                   67 non-null     int64
 8   STATUS                        67 non-null     object
 9   FUND DEPLETION                67 non-null     int64
 10  Reason for not funded status  45 non-null     object
 11  challenge                     67 non-null     object
 12  Budget                        67 non-null     int64
 13  REQUESTED %                   67 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 7.5+ KB

None

>CHALLENGE: Sponsored by leftovers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      324 non-null    object
 1   SCORE                         324 non-null    float64
 2   Votes cast                    324 non-null    float64
 3   YES                           324 non-null    int64
 4   NO                            324 non-null    int64
 5   Result                        324 non-null    int64
 6   Meets approval threshold      324 non-null    object
 7   REQUESTED $                   324 non-null    int64
 8   STATUS                        324 non-null    object
 9   FUND DEPLETION                324 non-null    int64
 10  Reason for not funded status  321 non-null    object
 11  challenge                     324 non-null    object
 12  Budget                        324 non-null    int64
 13  REQUESTED %                   324 non-null    float64
dtypes: float64(3), int64(6), object(5)
memory usage: 35.6+ KB

None

 >> FUND: f8
>CHALLENGE: Accelerate Decentralized Identi
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      38 non-null     object
 1   SCORE                         38 non-null     float64
 2   Votes cast                    38 non-null     float64
 3   YES                           38 non-null     int64
 4   NO                            38 non-null     int64
 5   Result                        38 non-null     int64
 6   Meets approval threshold      38 non-null     object
 7   REQUESTED $                   38 non-null     int64
 8   STATUS                        38 non-null     object
 9   FUND DEPLETION                38 non-null     int64
 10  Reason for not funded status  26 non-null     object
 11  challenge                     38 non-null     object
 12  Budget                        38 non-null     int64
 13  REQUESTED %                   38 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 4.3+ KB

None

>CHALLENGE: Business Solutions (B2B & B2C)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      84 non-null     object
 1   SCORE                         84 non-null     float64
 2   Votes cast                    84 non-null     float64
 3   YES                           84 non-null     int64
 4   NO                            84 non-null     int64
 5   Result                        84 non-null     int64
 6   Meets approval threshold      84 non-null     object
 7   REQUESTED $                   84 non-null     int64
 8   STATUS                        84 non-null     object
 9   FUND DEPLETION                84 non-null     int64
 10  Reason for not funded status  62 non-null     object
 11  challenge                     84 non-null     object
 12  Budget                        84 non-null     int64
 13  REQUESTED %                   84 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 9.3+ KB

None

>CHALLENGE: Cardano scaling solutions
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      16 non-null     object
 1   SCORE                         16 non-null     float64
 2   Votes cast                    16 non-null     float64
 3   YES                           16 non-null     int64
 4   NO                            16 non-null     int64
 5   Result                        16 non-null     int64
 6   Meets approval threshold      16 non-null     object
 7   REQUESTED $                   16 non-null     int64
 8   STATUS                        16 non-null     object
 9   FUND DEPLETION                16 non-null     int64
 10  Reason for not funded status  6 non-null      object
 11  challenge                     16 non-null     object
 12  Budget                        16 non-null     int64
 13  REQUESTED %                   16 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 1.9+ KB

None

>CHALLENGE: Community Advisor Improvements
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      12 non-null     object
 1   SCORE                         12 non-null     float64
 2   Votes cast                    12 non-null     float64
 3   YES                           12 non-null     int64
 4   NO                            12 non-null     int64
 5   Result                        12 non-null     int64
 6   Meets approval threshold      12 non-null     object
 7   REQUESTED $                   12 non-null     int64
 8   STATUS                        12 non-null     object
 9   FUND DEPLETION                12 non-null     int64
 10  Reason for not funded status  3 non-null      object
 11  challenge                     12 non-null     object
 12  Budget                        12 non-null     int64
 13  REQUESTED %                   12 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 1.4+ KB

None

>CHALLENGE: Cross-Chain Collaboration
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      52 non-null     object
 1   SCORE                         52 non-null     float64
 2   Votes cast                    52 non-null     float64
 3   YES                           52 non-null     int64
 4   NO                            52 non-null     int64
 5   Result                        52 non-null     int64
 6   Meets approval threshold      52 non-null     object
 7   REQUESTED $                   52 non-null     int64
 8   STATUS                        52 non-null     object
 9   FUND DEPLETION                52 non-null     int64
 10  Reason for not funded status  35 non-null     object
 11  challenge                     52 non-null     object
 12  Budget                        52 non-null     int64
 13  REQUESTED %                   52 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 5.8+ KB

None

>CHALLENGE: DApps and Integrations
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      137 non-null    object
 1   SCORE                         137 non-null    float64
 2   Votes cast                    137 non-null    float64
 3   YES                           137 non-null    int64
 4   NO                            137 non-null    int64
 5   Result                        137 non-null    int64
 6   Meets approval threshold      137 non-null    object
 7   REQUESTED $                   137 non-null    int64
 8   STATUS                        137 non-null    object
 9   FUND DEPLETION                137 non-null    int64
 10  Reason for not funded status  100 non-null    object
 11  challenge                     137 non-null    object
 12  Budget                        137 non-null    int64
 13  REQUESTED %                   137 non-null    float64
dtypes: float64(3), int64(6), object(5)
memory usage: 15.1+ KB

None

>CHALLENGE: Developer Ecosystem
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      49 non-null     object
 1   SCORE                         49 non-null     float64
 2   Votes cast                    49 non-null     float64
 3   YES                           49 non-null     int64
 4   NO                            49 non-null     int64
 5   Result                        49 non-null     int64
 6   Meets approval threshold      49 non-null     object
 7   REQUESTED $                   49 non-null     int64
 8   STATUS                        49 non-null     object
 9   FUND DEPLETION                49 non-null     int64
 10  Reason for not funded status  29 non-null     object
 11  challenge                     49 non-null     object
 12  Budget                        49 non-null     int64
 13  REQUESTED %                   49 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 5.5+ KB

None

>CHALLENGE: Film + Media (FAM) creatives un
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      34 non-null     object
 1   SCORE                         34 non-null     float64
 2   Votes cast                    34 non-null     float64
 3   YES                           34 non-null     int64
 4   NO                            34 non-null     int64
 5   Result                        34 non-null     int64
 6   Meets approval threshold      34 non-null     object
 7   REQUESTED $                   34 non-null     int64
 8   STATUS                        34 non-null     object
 9   FUND DEPLETION                34 non-null     int64
 10  Reason for not funded status  25 non-null     object
 11  challenge                     34 non-null     object
 12  Budget                        34 non-null     int64
 13  REQUESTED %                   34 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 3.8+ KB

None

>CHALLENGE: Gamers On - Chained
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      63 non-null     object
 1   SCORE                         63 non-null     float64
 2   Votes cast                    63 non-null     float64
 3   YES                           63 non-null     int64
 4   NO                            63 non-null     int64
 5   Result                        63 non-null     int64
 6   Meets approval threshold      63 non-null     object
 7   REQUESTED $                   63 non-null     int64
 8   STATUS                        63 non-null     object
 9   FUND DEPLETION                63 non-null     int64
 10  Reason for not funded status  49 non-null     object
 11  challenge                     63 non-null     object
 12  Budget                        63 non-null     int64
 13  REQUESTED %                   63 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 7.0+ KB

None

>CHALLENGE: Grow Africa, Grow Cardano
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      56 non-null     object
 1   SCORE                         56 non-null     float64
 2   Votes cast                    56 non-null     float64
 3   YES                           56 non-null     int64
 4   NO                            56 non-null     int64
 5   Result                        56 non-null     int64
 6   Meets approval threshold      56 non-null     object
 7   REQUESTED $                   56 non-null     int64
 8   STATUS                        56 non-null     object
 9   FUND DEPLETION                56 non-null     int64
 10  Reason for not funded status  43 non-null     object
 11  challenge                     56 non-null     object
 12  Budget                        56 non-null     int64
 13  REQUESTED %                   56 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 6.2+ KB

None

>CHALLENGE: Grow East Asia, Grow Cardano
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      34 non-null     object
 1   SCORE                         34 non-null     float64
 2   Votes cast                    34 non-null     float64
 3   YES                           34 non-null     int64
 4   NO                            34 non-null     int64
 5   Result                        34 non-null     int64
 6   Meets approval threshold      34 non-null     object
 7   REQUESTED $                   34 non-null     int64
 8   STATUS                        34 non-null     object
 9   FUND DEPLETION                34 non-null     int64
 10  Reason for not funded status  24 non-null     object
 11  challenge                     34 non-null     object
 12  Budget                        34 non-null     int64
 13  REQUESTED %                   34 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 3.8+ KB

None

>CHALLENGE: Grow India, Grow Cardano
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      34 non-null     object
 1   SCORE                         34 non-null     float64
 2   Votes cast                    34 non-null     float64
 3   YES                           34 non-null     int64
 4   NO                            34 non-null     int64
 5   Result                        34 non-null     int64
 6   Meets approval threshold      34 non-null     object
 7   REQUESTED $                   34 non-null     int64
 8   STATUS                        34 non-null     object
 9   FUND DEPLETION                34 non-null     int64
 10  Reason for not funded status  24 non-null     object
 11  challenge                     34 non-null     object
 12  Budget                        34 non-null     int64
 13  REQUESTED %                   34 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 3.8+ KB

None

>CHALLENGE: Improve and Grow Auditability
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      22 non-null     object
 1   SCORE                         22 non-null     float64
 2   Votes cast                    22 non-null     float64
 3   YES                           22 non-null     int64
 4   NO                            22 non-null     int64
 5   Result                        22 non-null     int64
 6   Meets approval threshold      22 non-null     object
 7   REQUESTED $                   22 non-null     int64
 8   STATUS                        22 non-null     object
 9   FUND DEPLETION                22 non-null     int64
 10  Reason for not funded status  16 non-null     object
 11  challenge                     22 non-null     object
 12  Budget                        22 non-null     int64
 13  REQUESTED %                   22 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 2.5+ KB

None

>CHALLENGE: Lobbying for favorable legislat
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      23 non-null     object
 1   SCORE                         23 non-null     float64
 2   Votes cast                    23 non-null     float64
 3   YES                           23 non-null     int64
 4   NO                            23 non-null     int64
 5   Result                        23 non-null     int64
 6   Meets approval threshold      23 non-null     object
 7   REQUESTED $                   23 non-null     int64
 8   STATUS                        23 non-null     object
 9   FUND DEPLETION                23 non-null     int64
 10  Reason for not funded status  11 non-null     object
 11  challenge                     23 non-null     object
 12  Budget                        23 non-null     int64
 13  REQUESTED %                   23 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 2.6+ KB

None

>CHALLENGE: Miscellaneous Challenge
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      88 non-null     object
 1   SCORE                         88 non-null     float64
 2   Votes cast                    88 non-null     float64
 3   YES                           88 non-null     int64
 4   NO                            88 non-null     int64
 5   Result                        88 non-null     int64
 6   Meets approval threshold      88 non-null     object
 7   REQUESTED $                   88 non-null     int64
 8   STATUS                        88 non-null     object
 9   FUND DEPLETION                88 non-null     int64
 10  Reason for not funded status  64 non-null     object
 11  challenge                     88 non-null     object
 12  Budget                        88 non-null     int64
 13  REQUESTED %                   88 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 9.8+ KB

None

>CHALLENGE: Nation Building Dapps
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      44 non-null     object
 1   SCORE                         44 non-null     float64
 2   Votes cast                    44 non-null     float64
 3   YES                           44 non-null     int64
 4   NO                            44 non-null     int64
 5   Result                        44 non-null     int64
 6   Meets approval threshold      44 non-null     object
 7   REQUESTED $                   44 non-null     int64
 8   STATUS                        44 non-null     object
 9   FUND DEPLETION                44 non-null     int64
 10  Reason for not funded status  28 non-null     object
 11  challenge                     44 non-null     object
 12  Budget                        44 non-null     int64
 13  REQUESTED %                   44 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 4.9+ KB

None

>CHALLENGE: New Member Onboarding
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      40 non-null     object
 1   SCORE                         40 non-null     float64
 2   Votes cast                    40 non-null     float64
 3   YES                           40 non-null     int64
 4   NO                            40 non-null     int64
 5   Result                        40 non-null     int64
 6   Meets approval threshold      40 non-null     object
 7   REQUESTED $                   40 non-null     int64
 8   STATUS                        40 non-null     object
 9   FUND DEPLETION                40 non-null     int64
 10  Reason for not funded status  24 non-null     object
 11  challenge                     40 non-null     object
 12  Budget                        40 non-null     int64
 13  REQUESTED %                   40 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 4.5+ KB

None

>CHALLENGE: Open Source Development Ecosyst
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      86 non-null     object
 1   SCORE                         86 non-null     float64
 2   Votes cast                    86 non-null     float64
 3   YES                           86 non-null     int64
 4   NO                            86 non-null     int64
 5   Result                        86 non-null     int64
 6   Meets approval threshold      86 non-null     object
 7   REQUESTED $                   86 non-null     int64
 8   STATUS                        86 non-null     object
 9   FUND DEPLETION                86 non-null     int64
 10  Reason for not funded status  47 non-null     object
 11  challenge                     86 non-null     object
 12  Budget                        86 non-null     int64
 13  REQUESTED %                   86 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 9.5+ KB

None

>CHALLENGE: Open Standards & Interoperabili
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      28 non-null     object
 1   SCORE                         28 non-null     float64
 2   Votes cast                    28 non-null     float64
 3   YES                           28 non-null     int64
 4   NO                            28 non-null     int64
 5   Result                        28 non-null     int64
 6   Meets approval threshold      28 non-null     object
 7   REQUESTED $                   28 non-null     int64
 8   STATUS                        28 non-null     object
 9   FUND DEPLETION                28 non-null     int64
 10  Reason for not funded status  12 non-null     object
 11  challenge                     28 non-null     object
 12  Budget                        28 non-null     int64
 13  REQUESTED %                   28 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 3.2+ KB

None

>CHALLENGE: Scale-UP Cardanos Community Hub
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      68 non-null     object
 1   SCORE                         68 non-null     float64
 2   Votes cast                    68 non-null     float64
 3   YES                           68 non-null     int64
 4   NO                            68 non-null     int64
 5   Result                        68 non-null     int64
 6   Meets approval threshold      68 non-null     object
 7   REQUESTED $                   68 non-null     int64
 8   STATUS                        68 non-null     object
 9   FUND DEPLETION                68 non-null     int64
 10  Reason for not funded status  43 non-null     object
 11  challenge                     68 non-null     object
 12  Budget                        68 non-null     int64
 13  REQUESTED %                   68 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 7.6+ KB

None

>CHALLENGE: Self-Sovereign Identity
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      28 non-null     object
 1   SCORE                         28 non-null     float64
 2   Votes cast                    28 non-null     float64
 3   YES                           28 non-null     int64
 4   NO                            28 non-null     int64
 5   Result                        28 non-null     int64
 6   Meets approval threshold      28 non-null     object
 7   REQUESTED $                   28 non-null     int64
 8   STATUS                        28 non-null     object
 9   FUND DEPLETION                28 non-null     int64
 10  Reason for not funded status  13 non-null     object
 11  challenge                     28 non-null     object
 12  Budget                        28 non-null     int64
 13  REQUESTED %                   28 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 3.2+ KB

None

>CHALLENGE: The Great Migration (from Ether
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      22 non-null     object
 1   SCORE                         22 non-null     float64
 2   Votes cast                    22 non-null     float64
 3   YES                           22 non-null     int64
 4   NO                            22 non-null     int64
 5   Result                        22 non-null     int64
 6   Meets approval threshold      22 non-null     object
 7   REQUESTED $                   22 non-null     int64
 8   STATUS                        22 non-null     object
 9   FUND DEPLETION                22 non-null     int64
 10  Reason for not funded status  15 non-null     object
 11  challenge                     22 non-null     object
 12  Budget                        22 non-null     int64
 13  REQUESTED %                   22 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 2.5+ KB

None

>CHALLENGE: Fund9 challenge setting
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      76 non-null     object
 1   SCORE                         76 non-null     float64
 2   Votes cast                    76 non-null     float64
 3   YES                           76 non-null     int64
 4   NO                            76 non-null     int64
 5   Result                        76 non-null     int64
 6   Meets approval threshold      76 non-null     object
 7   REQUESTED $                   76 non-null     int64
 8   STATUS                        76 non-null     object
 9   FUND DEPLETION                76 non-null     int64
 10  Reason for not funded status  64 non-null     object
 11  challenge                     76 non-null     object
 12  Budget                        76 non-null     int64
 13  REQUESTED %                   76 non-null     float64
dtypes: float64(3), int64(6), object(5)
memory usage: 8.4+ KB

None

>CHALLENGE: Funded by leftovers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Proposal                      487 non-null    object
 1   SCORE                         487 non-null    float64
 2   Votes cast                    487 non-null    float64
 3   YES                           487 non-null    int64
 4   NO                            487 non-null    int64
 5   Result                        487 non-null    int64
 6   Meets approval threshold      487 non-null    object
 7   REQUESTED $                   487 non-null    int64
 8   STATUS                        487 non-null    object
 9   FUND DEPLETION                487 non-null    int64
 10  Reason for not funded status  479 non-null    object
 11  challenge                     487 non-null    object
 12  Budget                        487 non-null    int64
 13  REQUESTED %                   487 non-null    float64
dtypes: float64(3), int64(6), object(5)
memory usage: 53.4+ KB

None

# RESULTS DATAFRAMES

In [25]:
def display_results():
    for fund in funds:
        print("\n\nFUND: {}".format(fund))
        display(cat_obj[fund].results.head(3))
        print(cat_obj[fund].results.info())
        print('\n>> Unique challenges: {}'.format(list(cat_obj[fund].results.challenge.unique())))
        print('# {}'.format(len(list(cat_obj[fund].results.challenge.unique()))))
display_results()

FUND: f3

,challenge,Budget,Proposal,YES,NO,Result,STATUS,REQUESTED $,REQUESTED %
0,DApp creation,200000,Liqwid:Cardano DeFi Liquidity Pools,1600000000,18217050,1581782950,FUNDED,53000,26.5000
1,DApp creation,200000,Ada Tx to Trigger IoT + IO HW Spins,787000000,58830495,728169505,FUNDED,33000,16.5000
2,DApp creation,200000,Comprehensive NFT Framework Collab,693000000,45804734,647195266,FUNDED,48965,24.4825

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 26
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   challenge    150 non-null    object
 1   Budget       150 non-null    int64
 2   Proposal     150 non-null    object
 3   YES          150 non-null    int64
 4   NO           150 non-null    int64
 5   Result       150 non-null    int64
 6   STATUS       150 non-null    object
 7   REQUESTED $  150 non-null    int64
 8   REQUESTED %  150 non-null    float64
dtypes: float64(1), int64(5), object(3)
memory usage: 11.7+ KB
None

>> Unique challenges: ['DApp creation', 'Developer ecosystem', 'Community choice']
# 3


FUND: f4

,challenge,Budget,Proposal,SCORE,YES,NO,Result,STATUS,REQUESTED $,REQUESTED %
0,DApp&Integrations,200000,Haskell Devs for Liqwid Plutus SC's,4.87,987682507,42852579,944829928,FUNDED,36500,18.25
1,DApp&Integrations,200000,Cardano On-Chain Voting,4.33,374916832,55806397,319110435,FUNDED,15000,7.50
2,DApp&Integrations,200000,Littercoin - Mass Adoption,4.44,285715266,118436548,167278718,FUNDED,50000,25.00

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 0 to 25
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   challenge    303 non-null    object
 1   Budget       303 non-null    int64
 2   Proposal     303 non-null    object
 3   SCORE        303 non-null    float64
 4   YES          303 non-null    int64
 5   NO           303 non-null    int64
 6   Result       303 non-null    int64
 7   STATUS       303 non-null    object
 8   REQUESTED $  303 non-null    int64
 9   REQUESTED %  303 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 26.0+ KB
None

>> Unique challenges: ['DApp&Integrations', 'Developer ecosystem', 'Distributed decision making', 'Proposer Outreach', 'Catalyst Value Onboarding', 'Local Community Centers', 'Fund6 Challenge Setting', 'Sponsored by leftovers']
# 8


FUND: f5

,challenge,Budget,Proposal,SCORE,YES,NO,Unique Yes,Unique No,Result,STATUS,REQUESTED $,REQUESTED %
0,Developer ecosystem,600000,Testnet Cardanoscan Explorer,5.00,885478111,27844494,4863,168,857633617,FUNDED,7500,1.250000
1,Developer ecosystem,600000,Cardano Rust SDK update for Alonzo,4.54,554450995,21710291,2153,102,532740704,FUNDED,50000,8.333333
2,Developer ecosystem,600000,C# SDK for Blockfrost API,4.76,563268896,53313915,2392,132,509954981,FUNDED,9000,1.500000

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305 entries, 0 to 38
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   challenge    305 non-null    object
 1   Budget       305 non-null    int64
 2   Proposal     305 non-null    object
 3   SCORE        305 non-null    float64
 4   YES          305 non-null    int64
 5   NO           305 non-null    int64
 6   Unique Yes   305 non-null    int64
 7   Unique No    305 non-null    int64
 8   Result       305 non-null    int64
 9   STATUS       305 non-null    object
 10  REQUESTED $  305 non-null    int64
 11  REQUESTED %  305 non-null    float64
dtypes: float64(2), int64(7), object(3)
memory usage: 31.0+ KB
None

>> Unique challenges: ['Developer ecosystem', 'DApp&Integrations', 'Distributed decision making', 'Proposer Outreach', 'Catalyst Value Onboarding', 'Metadata challenge', 'Grow Africa, Grow Cardano wv', 'Scale-UP Cardanos DeFi Ecosyste', 'Fund7 Challenge Setting wv', 'Sponsored by leftovers']
# 10


FUND: f6

,challenge,Budget,Proposal,SCORE,YES,NO,Result,STATUS,REQUESTED $,REQUESTED %
0,Developer ecosystem,1005000,Software as a Service for Cardano,5.0,637293223,28405633,608887590,FUNDED,60000,5.970149
1,Developer ecosystem,1005000,Plutus PAB Typescript SDK,5.0,407234809,19995040,387239769,FUNDED,35000,3.482587
2,Developer ecosystem,1005000,Gravatar for ADA Wallets,5.0,401288824,47664488,353624336,FUNDED,87700,8.726368

<class 'pandas.core.frame.DataFrame'>
Int64Index: 885 entries, 0 to 176
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   challenge    885 non-null    object
 1   Budget       885 non-null    int64
 2   Proposal     885 non-null    object
 3   SCORE        885 non-null    float64
 4   YES          885 non-null    int64
 5   NO           885 non-null    int64
 6   Result       885 non-null    int64
 7   STATUS       885 non-null    object
 8   REQUESTED $  885 non-null    int64
 9   REQUESTED %  885 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 76.1+ KB
None

>> Unique challenges: ['Developer ecosystem', 'DApps & Integrations', 'Distributed decision making', 'Proposer outreach', 'Catalyst value onboarding', 'Metadata', 'Grow Africa, Grow Cardano', 'Scale-UP Cardano’s DeFi Ecosyst', 'Cardano Emerging Threat Alarm', 'Multilingual resources', 'DeFi and Microlending for Afric', 'DLT Entrepreneurship Toolbox', 'Partnerships for Global Adoptio', 'NFT Business models', 'Atala PRISM DID Mass-Scale Adop', 'Disaster When all is at stake', 'Scale-UP Cardano’s Community Hu', 'Improve and Grow Auditability', 'Fund7 challenge setting', 'Sponsored by leftovers']
# 20


FUND: f7

,challenge,Budget,Proposal,SCORE,YES,NO,Result,STATUS,REQUESTED $,REQUESTED %
0,A.I. & SingularityNet a $5T mar,500000.0,NuNet: Decentralized SPO Computing,4.92,199732782,1123600,198609182,FUNDED,120000,24.0
1,A.I. & SingularityNet a $5T mar,500000.0,Sustainable AI anti-fakenews system,4.39,98489203,5323561,93165642,FUNDED,110000,22.0
2,A.I. & SingularityNet a $5T mar,500000.0,Identify patterns on Transaction,4.29,84237620,3344431,80893189,FUNDED,30000,6.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1259 entries, 0 to 323
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   challenge    1259 non-null   object
 1   Budget       1203 non-null   float64
 2   Proposal     1259 non-null   object
 3   SCORE        1259 non-null   float64
 4   YES          1259 non-null   int64
 5   NO           1259 non-null   int64
 6   Result       1259 non-null   int64
 7   STATUS       1259 non-null   object
 8   REQUESTED $  1259 non-null   int64
 9   REQUESTED %  1203 non-null   float64
dtypes: float64(3), int64(4), object(3)
memory usage: 108.2+ KB
None

>> Unique challenges: ['A.I. & SingularityNet a $5T mar', 'Accelerate Decentralized Identi', 'Boosting Cardanos DeFi', 'Catalyst - Rapid Funding Mechan', 'Catalyst Accelerator & Mentors', 'Catalyst Natives COTI Pay with ', 'Community Events', 'Connecting Japan日本 Community', 'DAOs ❤ Cardano', 'DApps & Integrations', 'Disarm cyber disinformation att', 'Gamers On-Chained', 'Global Sustainable Indep. SPOs', 'Grow Latin America, Grow Cardan', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'MiniLow-Budget Dapps & Integrat', 'Miscellaneous Challenge', 'Multilingual resources', 'Nation Building Dapps', 'New SPO Business Opportunities', 'Open Source Developer Ecosystem', 'Scale-UP Cardanos Community Hub', 'Seeding Cardanos Grassroots DeF', 'Fund8 challenge setting', 'Sponsored by leftovers']
# 26


FUND: f8

,challenge,Budget,Proposal,SCORE,YES,NO,Result,STATUS,REQUESTED $,REQUESTED %
0,Accelerate Decentralized Identi,500000,Universal Resolver for did:prism,5.00,148830926,562903,148268023,FUNDED,6425,1.285
1,Accelerate Decentralized Identi,500000,PeopleCert DevOps Pilot on Cardano,5.00,132934798,1985422,130949376,FUNDED,46200,9.240
2,Accelerate Decentralized Identi,500000,Visual DID & Credential Builder,4.83,125276050,981839,124294211,FUNDED,25000,5.000

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1621 entries, 0 to 486
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   challenge    1621 non-null   object
 1   Budget       1621 non-null   int64
 2   Proposal     1621 non-null   object
 3   SCORE        1621 non-null   float64
 4   YES          1621 non-null   int64
 5   NO           1621 non-null   int64
 6   Result       1621 non-null   int64
 7   STATUS       1621 non-null   object
 8   REQUESTED $  1621 non-null   int64
 9   REQUESTED %  1621 non-null   float64
dtypes: float64(2), int64(5), object(3)
memory usage: 139.3+ KB
None

>> Unique challenges: ['Accelerate Decentralized Identi', 'Business Solutions (B2B & B2C)', 'Cardano scaling solutions', 'Community Advisor Improvements', 'Cross-Chain Collaboration', 'DApps and Integrations', 'Developer Ecosystem', 'Film + Media (FAM) creatives un', 'Gamers On - Chained', 'Grow Africa, Grow Cardano', 'Grow East Asia, Grow Cardano', 'Grow India, Grow Cardano', 'Improve and Grow Auditability', 'Lobbying for favorable legislat', 'Miscellaneous Challenge', 'Nation Building Dapps', 'New Member Onboarding', 'Open Source Development Ecosyst', 'Open Standards & Interoperabili', 'Scale-UP Cardanos Community Hub', 'Self-Sovereign Identity', 'The Great Migration (from Ether', 'Fund9 challenge setting', 'Funded by leftovers']
# 24